<div class="container-fluid w-100 d-flex flex-column">
 <div class="div">
  <div class="col-12">
   <div class="w-100">
    <!-- <h3 class="title">About the Assessment</h3> -->

    <div class="about-main-text flex-fill ">
      The Regional Coastal Resilience Assessments were developed by the National Fish and Wildlife Foundation (NFWF), in partnership with the National Oceanic and Atmospheric Administration, the U.S. Army Corps of Engineers, UNC Asheville’s National Environmental Modeling Analysis Center and NatureServe. These Assessments allow NFWF and their partners to identify large public and private coastal lands ideal for restoration, and analyze their potential to provide maximum protection to human communities while also restoring or improving habitat for fish and wildlife. They utilize data available at the national level, ensuring a consistent and contiguous dataset for U.S. coastlines, but allow the information to also be used locally by communities to inform resilience planning and project development. This information then guides the implementation of the National Coastal Resilience Fund.
      <br/>
      <br/>
      The Assessments currently span U.S. Atlantic, Gulf of Mexico, and Pacific coastlines and will be available for the public in early 2019. The partnership will also complete Assessments for Puerto Rico, Alaska and Hawaii in 2019.
    </div>
   </div>


   <div id="second-tab-content" class="text-left">
    <div class="col w-100 flex-fill" id="about-nav-holder"></div>

    <!--Content for tabs-->
    <div class="row h-100 flex-fill map-row " ref="tab-about-nav-aboutgen" id="tab-about-nav-aboutgen">
     <div class="" id="aboutgen-holder">
      <div class="container">
       <div class="row justify-content-left">
        <div>
         <!-- <h5>About the NFWF Tool</h5> -->
        </div>
        <div class="container col-12 flex-fill">
         <div class="row justify-content-left">
          <div class="about-tool-text flex-fill ">
              The NFWF Assessment Web Tool provides access to the Assessment datasets through an online, interactive environment. The main functions of the Web Tool are to allow users to 1) view and explore key Assessment datasets within their own areas of interest, 2) use the data exploration tools to analyze known potential project sites and quantity results from the Assessment models, 3) search resilience hubs to identify potential locations for proposed project sites, and 4) provide advanced GIS users the ability to download all of the final Assessment datasets for use in their own GIS platform.
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>

    <div class="row h-100 flex-fill map-row d-none" ref="tab-about-nav-exposure" id="tab-about-nav-exposure">
     <div class="" id="exposure-holder">
      <div class="container">
       <div class="row justify-content-left">
        <div>
         <h6>Content Holder</h6>
        </div>
       </div>
      </div>
     </div>
    </div>


    <div class="row h-100 flex-fill map-row d-none" ref="tab-about-nav-glossary" id="tab-about-nav-glossary">
     <div class="" id="glossary-holder">
      <div class="d-flex flex-fill">
       <div class="row justify-content-left">
        <div class="col-2"><h5>Term</h5></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text"><h5>Definition</h5></div>
        <div class="col-2 term"><h6>Adaptation</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The process of adjusting to new (climate) conditions in order to reduce risks to valued assets. <div>&nbsp</div></div>
        <div class="col-2 term"><h6>Adaptive Capacity</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The ability of a person, asset, or system to adjust to a hazard, take advantage of new opprtunities, or cope with change.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Assets</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">People, resources, ecosystems, infastructure, and the services they provide. Assets are the tangible and intangible things people or communities value.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Climate Stressor</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">A condition, event, or trend related to climate variability and change that can exacerbate hazards.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Consequence</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">A subsequent result (usually negative) that follows from damage to or loss of an asset. Quantifying potential consequences is an important part of determining risk.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Ecosystem Services</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">Benefits that humans receive from natural systems.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Exposure</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The presence of people, assets, and ecosystems in places where they could be adversely affected by hazards.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Hazard</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">An event or condition that may cause injury, illness, or death to people or damage to assets<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Impacts</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">Effects on natural and human systems that result from hazards. Evaluating potential impacts is a critical step in assessing vulnerability.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Mitigation</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">Processes that can reduce the amount and speed of future climate change by reducing emissions of heat-trapping gases or removing them from the atmosphere.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Non-climate Stessor</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">A change or trend unrelated to climate that can exacerbate hazards.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Probability</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The likelihood of hazard events occurring. Probabilities have traditionally been determined from the historic frequency of events. With changing climate and the introduction of non-climate stressors, the probability of hazard events also changes.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Projections</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">Potential future climate conditions calculated by computer-based models of the Earth system. Projections are based on sets of assumptions about the future (scenarios) that may or may not be realized.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Resilience</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The capacity of a community, business, or natural environment to prevent, withstand, respond to, and recover from a disruption.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Risk</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The potential total cost if something of value is damaged or lost, considered together with the likelihood of that loss occurring. Risk is often evaluated as the probability of a hazard occurring multiplied by the consequence that would result if it did happen.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Sensitivity</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The degree to which a system, population, or resource is or might be affected by hazards.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Uncertainty</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">A state of incomplete knowledge. Uncertainty about future climate arises from the complexity of the climate system and the ability of models to represent it, as well as the inability to predict the decisions that society will make.<div>&nbsp</div></div>
        <div class="col-2 term"><h6>Vulnerability</h6></div>
        <div class="col-10 col-md-9 offset-md-0 definition-text">The propensity or predisposition of assets to be adversely affected by hazards. Vulnerability encompasses exposure, sensitivity, potential impacts, and adaptive capacity.</h6></div>
       </div>
      </div>
     </div>
    </div>



    <!-- <div class="row h-100 flex-fill map-row col-12 d-none" ref="tab-about-nav-examples" id="tab-about-nav-examples">
     <div class="" id="example-holder">
      <div class="container">
       <div class="row justify-content-left">
        CONTENT HOLDER
       </div>
      </div>
     </div>
    </div> -->

   </div>
  </div>
 </div>
</div>
