<div class="about-all-content">

  <div class="col w-100 flex-fill sticky-top sideheading" id="about-nav-holder"></div>
  <div id="about-main" class="flex-fill">

    <!--Content for tabs-->
    <div class="about-content w-100 flex-fill d-none" ref="tab-about-nav-aboutgen" id="tab-about-nav-aboutgen">

      <!-- <div class="container glossary-container"> -->

      <div class="container about-container">
        <div class="row">
          <div class="about-main-text col-12 col-md-12">
            The Regional Coastal Resilience Assessments were developed by the National Fish and Wildlife Foundation (NFWF), in partnership with the National Oceanic and Atmospheric Administration, the U.S. Army Corps of Engineers, UNC Asheville’s National Environmental Modeling and Analysis Center, and NatureServe. These Assessments allow NFWF and its partners to identify large public and private coastal lands ideal for restoration and analyze their potential to provide maximum protection to human communities while also restoring or improving habitat for fish and wildlife. They utilize data available at the national level, ensuring a consistent and contiguous dataset for U.S. coastlines but allowing the information to also be used locally by communities to inform resilience planning and project development. This information then guides the implementation of the National Coastal Resilience Fund.
            <br/>
            <br/>
            The Assessments currently span U.S. Atlantic, Gulf of Mexico, and Pacific coastlines.  Assessments are underway in Puerto Rico and the U.S. Virgin Islands, Alaska, Hawaii, and the Commonwealth of the Northern Mariana Islands.
          </div>
          <div class="about-main-text col-12 col-md-12">
            The NFWF Coastal Resilience Assessment web tool provides access to the Assessment datasets through an online, interactive environment. It allows users to:
            <ol>
              <li>View and explore key Assessment datasets within their own areas of interest,</li>
              <li>Use the data exploration tools to analyze known potential project sites and quantify results from the Assessment models,</li>
              <li>Search resilience hubs to identify potential locations for proposed project sites, and</li>
              <li>Provide advanced GIS users with the ability to download all of the final Assessment datasets for use in their own GIS platform.</li>
            </ol>
          </div>
          <div class="about-main-text col-12 col-md-12">
            For additional information about the Coastal Resilience Assessments and to access the final reports, the visit the NFWF <a target="_blank" href="https://www.nfwf.org/coastalresilience/Pages/regional-coastal-resilience-assessment.aspx">Regional Coastal Resilience Assessment page</a>.
          </div>
          <div class="about-main-text col-12 col-md-12">
            Please send questions, comments, or isssues to <a href="mailto:gdobson@unca.edu">gdobson@unca.edu</a>.
          </div>
      </div>
      </div>
    </div>

    <div class="about-content row w-100 flex-fill d-none" ref="tab-about-nav-hubs" id="tab-about-nav-hubs">
      <div class="" id="hubs-holder">
        <div class="container">
          <div class="making-of-examples">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right"></div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseHubs" aria-expanded="false" aria-controls="collapseHubs" >
                  Making of the Resilience Hubs Coming Soon...
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseHubs">
                  <p>
                    Making of the Resilience Hubs Coming Soon...
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-hubs-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-content row w-100 flex-fill d-none" ref="tab-about-nav-exposure" id="tab-about-nav-exposure">
      <div class="" id="exposure-holder">
        <div class="container">
          <div class="making-of-examples">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right"></div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseThreat" aria-expanded="false" aria-controls="collapseThreat" >
                  Threat Index
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseThreat">
                  <p>
                    Flood-related datasets are used to help communities understand what kind of threats are potentially present in their area. While other threats may exist, for purposes of this analysis only those threats relevant to flooding were included. Included datasets range from periodic threats, such as Inundation from Storm Surge, to those that give better context to regional landscape characteristics and are more permanent, such as Low-Lying Areas. As the assessment grew, it evolved to incorporate regionally specific hazards, such as Geologic Stressors, that may impact a community’s ability to handle flood events. To determine the most suitable data inputs for this analysis, the foundational work from Gornitz, et al. and the New Jersey Vulnerability Assessment and Mapping Protocol, and others, were referenced.
                  </p>
                  <p>
                    Using an ordinal combination method, all of the inputs were ranked numerically from low to high, representing the risk—not the degree—of impact. Each ranked input is used to create the cumulative Threat Index. The Threat Index is then reclassified into ten classes using a percentile distribution.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-threat-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right">Multiplied by (X)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseAsset" aria-expanded="false" aria-controls="collapseAsset" >
                  Community Asset Index
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseAsset">
                  <p>
                    When considering datasets for the Community Asset Index, two important rules were followed:
                  </p>
                  <ol>
                    <li>
                      The asset must be linked to its potential ability to allow a community to respond to a flood event.
                    </li>
                    <li>
                      The asset must have data available at a regional scale.
                    </li>
                  </ol>
                  <p>
                    Following these rules, the Community Asset Index was created using datasets that quantify the number of assets present—not their degree of vulnerability or susceptibility to flood threats. Datasets chosen include human asset inputs, such as population density and social vulnerability, as well as critical facilities and infrastructure that help communities respond to flood events, such as a hospital or police or fire station. The use of these data aims to facilitate more informed decision making, particularly on the coasts, where many major U.S. metropolitan areas are located. The Community Asset Index was ultimately reclassified into ten classes using a percentile distribution.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-asset-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <hr />
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right">Creates (=)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseExp" aria-expanded="false" aria-controls="collapseExp" >
                  Community Exposure Index
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseExp">
                  <p>
                    To create the Community Exposure Index, the Threat and Community Asset Indices were each given a value of 1 to 10 to indicate a low to high presence of assets or threats. Combination methods traditionally result in an addition of inputs to create a final land suitability index; however, this assessment aims to understand exposure—the relationship between potential threats and the presence of community assets. Therefore, a multiplication function was used to understand this relationship. Areas with highest prevalence of threats and the highest presence of community assets were calculated as having the highest levels of exposure.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-exposure-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
          </div>


        </div>
      </div>
    </div>


    <div class="about-content row w-100 flex-fill d-none" ref="tab-about-nav-assets" id="tab-about-nav-assets">
      <div class="" id="assets-holder">
        <div class="container">
          <div class="making-of-examples">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right"></div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapsePop" aria-expanded="false" aria-controls="collapsePop" >
                  Population Density
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapsePop">
                  <p>
                    More than 50 percent of Americans live in coastal counties. In many parts of the country, coastal tourism provides immense economic benefit. By 2100, the fraction of the U.S. population living in coastal counties is expected to increase by 50 percent or more. Density was calculated by census block for each region based on the 2017 American Community Survey.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-popden-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseSoc" aria-expanded="false" aria-controls="collapseSoc" >
                  Social Vulnerability
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseSoc">
                  <p>
                    Social vulnerability varies regionally in coastal areas, where there are large socioeconomic disparities. This input is meant to indicate a person’s ability to respond to and cope with the effects of hazards; an important consideration, as disadvantaged households are typically found in areas of higher risk, putting them more at risk to flooding, disease, and other chronic stresses. The input considers two demographic criteria: percent minority and percent low income in the block group. To account for regional differences and remove any unnecessary bias in the modeling, a percentile distribution was used to identify the top percentile classes (85th, 90th, and 95th) in order to rank only those block groups with very high social vulnerability 0–3 by census block group at the national level.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-socvul-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseFac" aria-expanded="false" aria-controls="collapseFac">
                  Critical Facilities
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseFac">
                  <p>
                    Schools, hospitals, nursing homes, and fire and police stations are a few of the types of facilities included as critical facilities. It’s important to emphasize that these were considered critical services in the operation of other community infrastructure types, such as residences and commercial, industrial, and public properties. These facilities should also be prioritized in disaster planning, as they may offer refuge to vulnerable populations.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-critfac-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseInfra" aria-expanded="false" aria-controls="collapseInfra">
                  Critical Infrastructure
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseInfra">
                  <p>
                    Types of critical infrastructure include airport runways, dams, ports, refineries, hazardous chemical facilities, wastewater treatment facilities, power plants, and more. A variety of additional infrastructure was included that may help communities with transportation planning, to build economic resilience, or serve as primary transportation corridors. Roads, airports, and harbors may serve as key nodes for evacuation and also become centers of operations for emergency personnel and relief supplies before, during, and after flood events.
                  </p>
                  <p>
                    Infrastructure that is considered important as economic assets was also included. For instance, 13 of the nation’s 47 largest airports have at least one runway with an elevation within 12 feet of current sea levels, and flood events affect transportation systems across the country. Of particular interest is the Gulf Coast, which is home to many of the nation’s largest ports and also especially vulnerable to a combination of sea level rise, storm surge, erosion, and land subsidence.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-critinfra-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <hr />
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Creates (=)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseAssetInput" aria-expanded="false" aria-controls="collapseAssetInput" >
                  Community Asset Index
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseAssetInput">
                  <p>
                    When considering datasets for the Community Asset Index, two important rules were followed:
                  </p>
                  <ol>
                    <li>
                      The asset must be linked to its potential ability to allow a community to respond to a flood event.
                    </li>
                    <li>
                      The asset must have data available at a regional scale.
                    </li>
                  </ol>
                  <p>
                    Following these rules, the Community Asset Index was created using datasets that quantify the number of assets present—not their degree of vulnerability or susceptibility to flood threats. Datasets chosen include human asset inputs, such as population density and social vulnerability, as well as critical facilities and infrastructure that help communities respond to flood events, such as a hospital or police or fire station. The use of these data aims to facilitate more informed decision making, particularly on the coasts, where many major U.S. metropolitan areas are located. The Community Asset Index was ultimately reclassified into ten classes using a percentile distribution.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-asset-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="about-content row w-100 flex-fill d-none" ref="tab-about-nav-threats" id="tab-about-nav-threats">
      <div class="" id="threats-holder">
        <div class="container">
          <div class="making-of-examples">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right"></div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseDrainage" aria-expanded="false" aria-controls="collapseDrainage" >
                  Impermeable Soils
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseDrainage">
                  <p>
                    The rate at which water flows through the soil influences the frequency and duration of time that lands are inundated. Slower rates of drainage can impede a community’s ability to recover from a flood event. Poorly drained soils are typically less-porous soils, such as wetland soils or clays, or landscapes with impervious surfaces due to development or infrastructure. To account for water retention rates in soils, data from USDA-NRCS SSURGO Natural Drainage Classes (drclassdcd) were used to classify a soil’s ability to allow water to pool or drain. To identify the impervious land cover in many urban areas—areas often lacking in comprehensive soil data—developed land cover classifications from the National Land Cover Database were also included.
                  </p>
                  <p>
                    In order for a landscape to carry a “very high” ranking, it must be a somewhat-to-very-poorly-drained soil type and contain an intensity of development. As a result of this multi-criteria ranking scheme, emphasis is placed on those urban or semi-urban areas with both (1) soils that retain water, and (2) impervious surfaces where water may pool or runoff.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-drainage-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseErosion" aria-expanded="false" aria-controls="collapseErosion" >
                  Soil Erodibility
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseErosion">
                  <p>
                    Soil erosion as a result of flooding can drastically alter the landscape and impact both human and wildlife habitats. To assess the erodibility of soils throughout the coastal watersheds, the USDA-NRCS Soil Survey Geographic Database (SSURGO) K Factor (kffact) was used, which measures the susceptibility of soil particles to detachment by water. Soils high in clay have low K values because they resist detachment. Soils having high silt content are the most erodible of all soils as they are easily detached and produce high rates of runoff.
                  </p>
                  <p>
                    Additionally, this input includes beaches and dunes—systems known to be migratory by nature. Although these particular landforms are largely considered assets and can help buffer a community from flooding, the risk of erosivity is fairly high.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-erosion-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseFlood" aria-expanded="false" aria-controls="collapseFlood" >
                  Flood-Prone Areas
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseFlood">
                  <p>
                    Flood-prone areas is a combination of the Federal Emergency Management Agency (FEMA) National Flood Hazard Layer (NFHL) and the USDA-NRCS SSURGO database. Whenever available, FEMA 100- and 500-year floodplains and the floodway were used. In areas where data were missing or unavailable, soils identified as having a high to occasional frequency of inundation in a given year were included. These are areas in the coastal watersheds that are directly prone to flooding, primarily based on physical location.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-floddprone-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseSLR" aria-expanded="false" aria-controls="collapseSLR" >
                  Sea Level Rise
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseSLR">
                  <p>
                    NOAA’s modeled sea level rise scenarios are often used to inform coastal decision makers and wildlife managers on the potential impacts that a community may encounter, from the impacts on existing or proposed infrastructure or land use options to the decisions made in conservation efforts. For example, Gornitz cites many instances demonstrating the potential vulnerability of the barrier islands and wetlands within the South Atlantic region to impacts of climate change and other episodic flood events.
                  </p>
                  <p>
                    Sea level rise occurs at varying rates across the U.S. coasts considered in this analysis. Relative sea level rise along the western portion of the Gulf Coast and much of the North Atlantic Coast will be greater than the Pacific Northwest Coast, largely due to the impacts caused by groundwater and fossil fuel withdrawals. Scenarios for a one- to five-foot rise in relative sea level were used in this assessment, where a one-foot projected rise carries a “very high” level of threat (5) and a five-foot rise carries the lowest threat (1). While seemingly backwards, this ranking captures the likelihood of each foot rise in sea level: a one-foot rise is more likely than a five-foot scenario, hence a one-foot rise is considered to have more of an immediate threat
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-slr-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseStorm" aria-expanded="false" aria-controls="collapseStorm" >
                  Storm Surge
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseStorm">
                  <p>
                    Surge from hurricanes is the greatest threat to life and property from a storm. Similar to sea level rise, storm surge varies by region. The width and slope of the continental shelf plays an important role in this variation, where shallow slopes can potentially produce a greater storm surge than steep shelves. For example, a Category 4 storm hitting the Louisiana coastline—which has a very wide and shallow continental shelf—may produce a 20-foot storm surge, while the same hurricane in Miami Beach, Florida—where the continental shelf drops off very quickly—might only see an eight- or nine-foot surge. Although data for this input were only available for the Atlantic and Gulf Coast regions, it was included in the model due to the critical level of threat it has on those landscapes.
                  </p>
                  <p>
                    To understand the potential inundation caused by storm surge, this analysis uses the National Hurricane Center’s SLOSH model with the Mean Higher High Water surge scenario for each of the regions. These threat data use a likelihood ranking similar to that of the sea level rise input: one-foot surge is given a higher ranking than a five-foot surge.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-stormsurge-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseGeo" aria-expanded="false" aria-controls="collapseGeo" >
                  Geological Stressors
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseGeo">
                  <p>
                    Geologic stressors are used in this analysis to show potential additional threats to a landscape and are not intended to be interpreted as threats resulting directly from a severe storm or flood event; the geologic conditions of the landscape can exacerbate the level of threat represented by the other inputs. For example, sinking lands—or land subsidence—can increase the impacts caused by storm surge or sea level rise. Historic landslide occurrences, too, can increase the threat posed by highly erodible soils. As the causes of these geologic stressors vary greatly among regions, the regional models were individually constructed based on existing models to reflect the impact and severity of both regional landslide occurrence and current land subsidence.
                  </p>
                  <p>
                    <strong>Landslides:</strong> It is common to consider landslides as occurring exclusively on the West Coast; however, landslides occur in all 50 states. In 2005, landslide damages totaled around $3.5 billion. As a general rule, at least 10 inches of seasonal rainfall are needed to make southern California hillsides susceptible to debris flows. The data input used in this model delineates areas where large numbers of landslides have occurred and areas that are susceptible to landslides. Although landslides are commonly thought of as occurring as a result of extreme precipitation events or earthquakes, they often accompany floods.
                  </p>
                  <p>
                    <strong>Land Subsidence:</strong> A primary cause of coastal land loss is due to land submergence driven by fault-induced subsidence, water withdrawals, or resource extraction. This submergence of land can often lead to the loss of wetlands and many protective barriers to storm surge or the intensity of severe storm events. The following are brief summaries of the areas covered in this assessment:
                  </p>
                  <p>
                    <ul>
                      <li>
                        <strong>Houston:</strong> Extensive land subsidence in this area is caused primarily by groundwater pumping and by oil and gas extraction. This has led to a number of hazards within the community, including the increased frequency of flooding and damage to industrial and transportation infrastructure; has motivated major investments in levees, reservoirs, and surface-water distribution facilities; and has been the driver behind substantial wetland loss.
                      </li>
                      <li>
                        <strong>Southern Chesapeake Bay Region:</strong> Extensive groundwater withdrawal in the region has led to substantial compaction of the aquifer system, leading to extensive rates of land subsidence. This has led to the highest rates of sea level rise on the Atlantic Coast and causes susceptibility to inland flooding of low-lying areas. Home to the largest estuary in the U.S., increasing periods of inundation are threatening the habitats of many threatened and endangered species.
                      </li>
                      <li>
                        <strong>Coastal Louisiana:</strong> Having experience catastrophic rates of wetland loss (equivalent to the size of Delaware), land subsidence caused by active growth faults, hydrocarbon extraction, groundwater extraction, and lack of coastal soil accretion due to the construction of levees has threatened the region with continued land loss and consequential flooding during severe storms.
                      </li>
                      <li>
                        <strong>San Francisco Bay Area:</strong> A recent study suggests that areas of the San Francisco Bay may be sinking faster than originally thought. These areas primarily at risk are located on Quaternary substrate, such as Holocene Bay mud deposits and man-made landfill. Treasure Island, San Francisco Bay International Airport, and Foster City are shown to experience subsidence of up to 10 mm/year. This continuing subsidence will increase the exposure of coastal populations to flood threats.
                      </li>
                      <li>
                        <strong>Central Valley, California:</strong> The Central Valley of California, which includes the San Joaquin Valley, contributes enormously to the United States’ agricultural production. Land subsidence has slowed since the late 1970s in the Valley, but it is linked to large amounts of groundwater withdrawal for agricultural use. Groundwater pumping has been detrimental as a result of the marine sediments that largely make up the Valley and the shallow aquifers throughout the area.
                      </li>
                    </ul>
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-geosstress-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Added to (+)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseSlope" aria-expanded="false" aria-controls="collapseSlope">
                  Areas of Low Slope
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseSlope">
                  <p>
                    As a terrain’s slope decreases, more land areas become prone to pooling water that can lead to prolonged periods of inundation. This threat input was developed with consideration of the Brunn Rule, which states that every foot rise in water can result in a 100-foot loss of sandy beach. In this case, a one-percent slope or less is likely to be inundated with a one-foot rise in water, providing insight for low-lying coastal areas that are more susceptible to inundation and changing coastal conditions.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-slope-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
            <hr />
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right ">Creates (=)</div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseThreatInput" aria-expanded="false" aria-controls="collapseThreatInput" >
                  Threat Index
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseThreatInput">
                  <p>
                    Flood-related datasets are used to help communities understand what kind of threats are potentially present in their area. While other threats may exist, for purposes of this analysis only those threats relevant to flooding were included. Included datasets range from periodic threats, such as Inundation from Storm Surge, to those that give better context to regional landscape characteristics and are more permanent, such as Low-Lying Areas. As the assessment grew, it evolved to incorporate regionally specific hazards, such as Geologic Stressors, that may impact a community’s ability to handle flood events. To determine the most suitable data inputs for this analysis, the foundational work from Gornitz, et al. and the New Jersey Vulnerability Assessment and Mapping Protocol, and others, were referenced.
                  </p>
                  <p>
                    Using an ordinal combination method, all of the inputs were ranked numerically from low to high, representing the risk—not the degree—of impact. Each ranked input is used to create the cumulative Threat Index. The Threat Index is then reclassified into ten classes using a percentile distribution.
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-threat-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="about-content row w-100 flex-fill d-none" ref="tab-about-nav-fishandwildlife" id="tab-about-nav-fishandwildlife">
      <div class="" id="fishandwildlife-holder">
        <div class="container">
          <div class="making-of-examples">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 making-of-math align-middle text-right"></div>
              <figure class="figure col-12 col-sm-12 col-md-12">
                <figcaption class="figure-caption title-caption" data-toggle="collapse" data-target="#collapseFishandWildlife" aria-expanded="false" aria-controls="collapseFishandWildlife" >
                  Making of the Fish and Wildlife Index Coming Soon...
                  <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
                  <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
                  <span class="about-details more float-right d-none">Learn More</span>
                  <span class="about-details less float-right d-none">Less</span>
                </figcaption>
                <figcaption class="figure-caption collapse w-100" id="collapseFishandWildlife">
                  <p>
                    Making of Fish and Wildlife Index Coming Soon...
                  </p>
                </figcaption>
                <img src="../images/making-of-zoom-aquatic-cut.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-content w-100 flex-fill d-none" ref="tab-about-nav-glossary" id="tab-about-nav-glossary">
      <div  id="glossary-holder">
        <div class="container glossary-container">
          <div class="text-left" >
            <div class="col-12 col-md-12 term-1st">
              <h6>Adaptation</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The process of adjusting to new (climate) conditions in order to reduce risks to valued assets.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Adaptive Capacity</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The ability of a person, asset, or system to adjust to a hazard, take advantage of new opprtunities, or cope with change.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Assets</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">People, resources, ecosystems, infastructure, and the services they provide. Assets are the tangible and intangible things people or communities value.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Climate Stressor</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">A condition, event, or trend related to climate variability and change that can exacerbate hazards.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Consequence</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">A subsequent result (usually negative) that follows from damage to or loss of an asset. Quantifying potential consequences is an important part of determining risk.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Ecosystem Services</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">Benefits that humans receive from natural systems.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Exposure</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The presence of people, assets, and ecosystems in places where they could be adversely affected by hazards.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Hazard</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">An event or condition that may cause injury, illness, or death to people or damage to assets.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Impacts</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">Effects on natural and human systems that result from hazards. Evaluating potential impacts is a critical step in assessing vulnerability.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Mitigation</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">Processes that can reduce the amount and speed of future climate change by reducing emissions of heat-trapping gases or removing them from the atmosphere.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Non-Climate Stessor</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">A change or trend unrelated to climate that can exacerbate hazards.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Probability</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The likelihood of hazard events occurring. Probabilities have traditionally been determined from the historic frequency of events. With changing climate and the introduction of non-climate stressors, the probability of hazard events also changes.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Projections</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">Potential future climate conditions calculated by computer-based models of the Earth system. Projections are based on sets of assumptions about the future (scenarios) that may or may not be realized.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Resilience</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The capacity of a community, business, or natural environment to prevent, withstand, respond to, and recover from a disruption.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Risk</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The potential total cost if something of value is damaged or lost, considered together with the likelihood of that loss occurring. Risk is often evaluated as the probability of a hazard occurring multiplied by the consequence that would result if it did happen.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Sensitivity</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The degree to which a system, population, or resource is or might be affected by hazards.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Uncertainty</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">A state of incomplete knowledge. Uncertainty about future climate arises from the complexity of the climate system and the ability of models to represent it, as well as the inability to predict the decisions that society will make.
              <div>&nbsp</div>
            </div>
            <div class="col-12 col-md-12 term">
              <h6>Vulnerability</h6>
            </div>
            <div class="col-12 col-md-12 definition-text">The propensity or predisposition of assets to be adversely affected by hazards. Vulnerability encompasses exposure, sensitivity, potential impacts, and adaptive capacity.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-footer">
    <div class="row align-middle">
    <div class="col-lg-6 col-md-6 col-12">
      <a target="_blank"  href="https://www.nfwf.org"  ><img id="NFWF-Logo-footer" class="align-self-center img-fluid" src="../images/nfwf_logo_white.png" alt="NFWF Logo"></a>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <a target="_blank" href="https://nemac.unca.edu" ><img id="NEMAC-Logo-footer" class="align-self-center img-fluid" src="../images/nemac_logo_white.png" alt="NFWF Logo"></a>
    </div>
  </div>
  </div>
</div>
