<div class="container-fluid d-flex flex-column">
  <div class="div justify-content-center">
    <div class="col-12 align-self-center">
      <h3 class="title">About the Assessment</h3>

      <div class="container text-left">
      <div id="about-nav-holder">
        <!-- <nav class="nav flex-column flex-sm-row" id="about-nav" >
          <a class="nav-link main-nav" id="about-nav-glossary" href="#About">Glossary</a>
          <a class="nav-link main-nav" id="about-nav-exposure" href="#About">Making of Exposure</a>
          <a class="nav-link main-nav" id="about-nav-examples" href="#About">Exposure Examples</a>
        </nav> -->
        <div>&nbsp</div>
          <!-- download html goes here -->

          <div class="container ">
            <div class="row justify-content-left">
              <div class="col-3">Term</div>
                <div class="col-6 offset-3">Definition</div>
                <div class="col-3"><h6>Adaptation</h6></div>
                <div class ="col-6 offset-3"><h6>The process of adjusting to new (climate) conditions in order to reduce risks to valued assets.</h6></div>
                <div class="col-3"><h6>Adaptive Capacity</h6></div>
                <div class ="col-6 offset-3"><h6>The ability of a person, asset, or system to adjust to a hazard, take advantage of new opprtunities, or cope with change. </h6></div >
                <div class="col-3"><h6>Assets</h6></div>
                <div class ="col-6 offset-3"><h6>People, resources, ecosystems, infastructure, and the services they provide. Assets are the tangible and intangible things people or communities value.</h6></div>
                <div class="col-3"><h6>Climate Stressor</h6></div>
                <div class ="col-6 offset-3"><h6>A condition, event, or trend related to climate variability and change that can exacerbate hazards.</h6></div>
                <div class="col-3"><h6>Consequence</h6></div>
                <div class ="col-6 offset-3"><h6>A subsequent result (usually negative) that follows from damage to or loss of an asset. Quantifying potential consequences is an important part of determining risk.</h6></div>
                <div class="col-3"><h6>Ecosystem Services</h6></div>
                <div class="col-6 offset-3"><h6>Benefits that humans receive from natural systems.</h6></div>
                <div class="col-3"><h6>Exposure</h6></div>
                <div class="col-6 offset-3"><h6>The presence of people, assets, and ecosystems in places where they could be adversely affected by hazards.</h6></div>
                <div class="col-3"><h6>Hazard</h6></div>
                <div class="col-6 offset-3"><h6>An event or condition that may cause injury, illness, or death to people or damage to assets</h6></div>
                <div class="col-3"><h6>Impacts</h6></div>
                <div class="col-6 offset-3"><h6>Effects on natural and human systems that result from hazards. Evaluating potential impacts is a critical step in assessing vulnerability.</h6></div>
                <div class="col-3"><h6>Mitigation</h6></div>
                <div class="col-6 offset-3"><h6>Processes that can reduce the amount and speed of future climate change by reducing emissions of heat-trapping gases or removing them from the atmosphere.</h6></div>
                <div class="col-3"><h6>Non-climate Stessor</h6></div>
                <div class="col-6 offset-3"><h6>A change or trend unrelated to climate that can exacerbate hazards.</h6></div>
                <div class="col-3"><h6>Probability</h6></div>
                <div class="col-6 offset-3"><h6>The likelihood of hazard events occurring. Probabilities have traditionally been determined from the historic frequency of events. With changing climate and the introduction of non-climate stressors, the probability of hazard events also changes.</h6></div>
                <div class="col-3"><h6>Projections</h6></div>
                <div class="col-6 offset-3"><h6>Potential future climate conditions calculated by computer-based models of the Earth system. Projections are based on sets of assumptions about the future (scenarios) that may or may not be realized.</h6></div>
                <div class="col-3"><h6>Resilience</h6></div>
                <div class="col-6 offset-3"><h6>The capacity of a community, business, or natural environment to prevent, withstand, respond to, and recover from a disruption.</h6></div>
                <div class="col-3"><h6>Risk</h6></div>
                <div class="col-6 offset-3"><h6>The potential total cost if something of value is damaged or lost, considered together with the likelihood of that loss occurring. Risk is often evaluated as the probability of a hazard occurring multiplied by the consequence that would result if it did happen.</h6></div>
                <div class="col-3"><h6>Sensitivity</h6></div>
                <div class="col-6 offset-3"><h6>The degree to which a system, population, or resource is or might be affected by hazards.</h6></div>
                <div class="col-3"><h6>Uncertainty</h6></div>
                <div class="col-6 offset-3"><h6>A state of incomplete knowledge. Uncertainty about future climate arises from the complexity of the climate system and the ability of models to represent it, as well as the inability to predict the decisions that society will make.</h6></div>
                <div class="col-3"><h6>Vulnerability</h6></div>
                <div class="col-6 offset-3"><h6>The propensity or predisposition of assets to be adversely affected by hazards. Vulnerability encompasses exposure, sensitivity, potential impacts, and adaptive capacity.</h6></div>

            </div>

      </div>
    </div>
  </div>
</div>
</div>
</div>

