<div class="case-studies-row-container container-fluid flex-column w-100">
  <span class="exlpore-directions">Step through one of the examples to learn how to use CREST.</span>
  <!--  sandy case study -->
  <figure class="figure col-12 col-sm-12 col-md-12">
    <figcaption class="figure-caption title-caption sticky-top" data-toggle="collapse" data-target="#collapseSandy" aria-expanded="false" aria-controls="collapseSandy" >
      <span id="sandy-case-study-main">
        <span id="name"></span>
      </span>
      <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
      <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
    </figcaption>
    <figcaption class="figure-caption narrative-caption collapse w-100 sandy-case-study" id="collapseSandy">
      <div id="sandy-case-study-main" class="row case-study-step">
        <div id="narrative" class="narrative-main">
        </div>
        <button class="btn btn-light btn-casestudies-action d-none col-6 col align-self-center" id="action"></button>
        <div id="positions" class="row container-fluid">
          <span id="position" class="position position-0 active"></span>
          <span id="position" class="position position-1"></span>
          <span id="position" class="position position-2"></span>
          <span id="position" class="position position-3"></span>
          <span id="position" class="position position-4"></span>
          <span id="position" class="position position-5"></span>
          <span id="position" class="position position-6"></span>
          <span id="position" class="position position-7"></span>
        </div>
      </div>

      <div class="case-study-steps">
        <div id="sandy-case-study-step-0" class="row case-study-step">
          <div id="name" class="col-12 col">Start</div>
          <div class="col col-12 align-self-center">
            <div id="narrative" class="col-12 col align-self-center">Start exploring this case study.</div>
          </div>
          <div class="col-6">
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-1" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-2" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-3" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-4" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-5" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-6" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-7" class="row case-study-step last-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
            <a  class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></a>
            <div class="case-study-spacer"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </figcaption>
    <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
  </figure>


  <!--  harvey study -->
  <figure class="figure col-12 col-sm-12 col-md-12">
    <figcaption class="figure-caption title-caption sticky-top" data-toggle="collapse" data-target="#collapseharvey" aria-expanded="false" aria-controls="collapseharvey" >
      <span id="harvey-case-study-main">
        <span id="name"></span>
      </span>
      <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
      <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
    </figcaption>
    <figcaption class="figure-caption narrative-caption collapse w-100 harvey-case-study" id="collapseharvey">
      <div id="harvey-case-study-main" class="row case-study-step">
        <div id="narrative" class="narrative-main">
        </div>
        <button class="btn btn-light btn-casestudies-action d-none col-6 col align-self-center" id="action"></button>
        <div id="positions" class="row container-fluid">
          <span id="position" class="position position-0 active"></span>
          <span id="position" class="position position-1"></span>
          <span id="position" class="position position-2"></span>
          <span id="position" class="position position-3"></span>
          <span id="position" class="position position-4"></span>
          <span id="position" class="position position-5"></span>
          <span id="position" class="position position-6"></span>
          <span id="position" class="position position-7"></span>
        </div>
      </div>

      <div class="case-study-steps">

        <div id="harvey-case-study-step-0" class="row case-study-step">
          <div id="name" class="col-12 col">Start</div>
          <div class="col col-12 align-self-center">
            <div id="narrative" class="col-12 col align-self-center">Start exploring this case study.</div>
          </div>
          <div class="col-6">
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="harvey-case-study-step-1" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="harvey-case-study-step-2" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>

        <div id="harvey-case-study-step-3" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>

        <div id="harvey-case-study-step-4" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>


        <div id="harvey-case-study-step-5" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>

        <div id="harvey-case-study-step-6" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>

        <div id="harvey-case-study-step-7" class="row case-study-step last-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
            <a  class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></a>
            <div class="case-study-spacer"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </figcaption>
    <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
  </figure>


  <!--  florence study -->
  <figure class="figure col-12 col-sm-12 col-md-12">
    <figcaption class="figure-caption title-caption sticky-top" data-toggle="collapse" data-target="#collapseflorence" aria-expanded="false" aria-controls="collapseflorence" >
      <span id="florence-case-study-main">
        <span id="name"></span>
      </span>
      <i class="fa fa-caret-down icon-right d-none" aria-hidden="true"></i>
      <i class="fa fa-caret-up icon-right d-none" aria-hidden="true"></i>
    </figcaption>
    <figcaption class="figure-caption narrative-caption collapse w-100 florence-case-study" id="collapseflorence">
      <div id="florence-case-study-main" class="row case-study-step">
        <div id="narrative" class="narrative-main">
        </div>
        <button class="btn btn-light btn-casestudies-action d-none col-6 col align-self-center" id="action"></button>
        <div id="positions" class="row container-fluid">
          <span id="position" class="position position-0 active"></span>
          <span id="position" class="position position-1"></span>
          <span id="position" class="position position-2"></span>
          <span id="position" class="position position-3"></span>
          <span id="position" class="position position-4"></span>
          <span id="position" class="position position-5"></span>
          <span id="position" class="position position-6"></span>
          <span id="position" class="position position-7"></span>
        </div>
      </div>

      <div class="case-study-steps">
        <div id="florence-case-study-step-0" class="row case-study-step">
          <div id="name" class="col-12 col">Start</div>
          <div class="col col-12 align-self-center">
            <div id="narrative" class="col-12 col align-self-center">Start exploring this case study.</div>
          </div>
          <div class="col-6">
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="florence-case-study-step-1" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="florence-case-study-step-2" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="florence-case-study-step-3" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="florence-case-study-step-4" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="florence-case-study-step-5" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>

        <div id="florence-case-study-step-6" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-12">
            <div id="narrative" class="col-12 col"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>


        <div id="florence-case-study-step-7" class="row case-study-step last-step d-none">
          <div id="name" class="col-12 col"></div>
          <div class="col col-10">
            <div id="narrative" class="col-12 col"></div>
            <a  class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></a>
            <div class="case-study-spacer"></div>
          </div>
          <button class="btn btn-light btn-casestudies-action-arrow col-6 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </figcaption>
    <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
  </figure>
</div>
