<div class="case-studies-row-container container-fluid flex-column w-100">
  <!--  sandy case study -->
  <figure class="figure col-12 col-sm-12 col-md-12">
    <figcaption class="figure-caption tile-caption sticky-top" data-toggle="collapse" data-target="#collapseSandy" aria-expanded="false" aria-controls="collapseSandy" >
      <span id="sandy-case-study-main">
        <span id="name"></span>
      </span>
      <i class="fa fa-caret-down icon-right" aria-hidden="true"></i>
    </figcaption>
    <figcaption class="figure-caption collapse w-100 sandy-case-study" id="collapseSandy">
      <div id="sandy-case-study-main" class="row case-study-step">
        <div id="narrative">
        </div>
        <button class="btn btn-light btn-casestudies-action d-none col-6 col align-self-center" id="action"></button>
      </div>

      <div class="case-study-steps">
        <div id="sandy-case-study-step-1" class="row case-study-step">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-10 col align-self-center" id="action"></button>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-next">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>


        </div>
        <div id="sandy-case-study-step-2" class="row case-study-step d-none">
          <div id="name" class="col-12 col"></div>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <div class="col col-8">
            <div id="narrative" class="col-12 col"></div>
            <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
          </div>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-next">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
          </button>
        </div>
        <div id="sandy-case-study-step-3" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action d-none col-8 col align-self-center" id="action"></button>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-next">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div id="sandy-case-study-step-4" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <button class="btn btn-light btn-casestudies-action d-none col-8 col align-self-center" id="action"></button>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-next">
            <i class="fa fa-caret-right" aria-hidden="true"></i>
        </div>
        <div id="sandy-case-study-step-5" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action col-2 col align-self-center" id="action-last">
            <i class="fa fa-caret-left aria-hidden="true"></i>
          </button>
          <a  class="btn btn-light btn-casestudies-action d-none col-10 col align-self-center" id="action"></a>
        </div>

      </div>

    </figcaption>
    <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
  </figure>


  <!--  harvey study -->
  <figure class="figure col-12 col-sm-12 col-md-12">
    <figcaption class="figure-caption tile-caption sticky-top" data-toggle="collapse" data-target="#collapseHarvey" aria-expanded="false" aria-controls="collapseHarvey" >
      <span id="harvey-case-study-main">
        <span id="name"></span>
      </span>
      <i class="fa fa-caret-down icon-right" aria-hidden="true"></i>
    </figcaption>
    <figcaption class="figure-caption collapse w-100 harvey-case-study" id="collapseHarvey">
      <span id="harvey-case-study-main" class="row case-study-step">
        <span id="narrative"></span>
        <button class="btn btn-light btn-casestudies-action d-none col-6 col align-self-center" id="action"></button>
      </span>

      <div class="case-study-steps">
        <div id="harvey-case-study-step-1" class="row case-study-step">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="harvey-case-study-step-2" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="harvey-case-study-step-3" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="harvey-case-study-step-4" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="harvey-case-study-step-5" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="harvey-case-study-step-6" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <a  class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></a>
        </div>

      </div>

    </figcaption>
    <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
  </figure>



  <!--  florence study -->
  <figure class="figure col-12 col-sm-12 col-md-12">
    <figcaption class="figure-caption tile-caption sticky-top" data-toggle="collapse" data-target="#collapseFlorence" aria-expanded="false" aria-controls="collapseFlorence" >
      <span id="florence-case-study-main">
        <span id="name"></span>
      </span>
      <i class="fa fa-caret-down icon-right" aria-hidden="true"></i>
    </figcaption>
    <figcaption class="figure-caption collapse w-100 florence-case-study" id="collapseFlorence">
      <span id="florence-case-study-main" class="row case-study-step">
        <span id="narrative"></span>
        <button class="btn btn-light btn-casestudies-action d-none col-6 col align-self-center" id="action"></button>
      </span>

      <div class="case-study-steps">
        <div id="florence-case-study-step-1" class="row case-study-step">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="florence-case-study-step-2" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="florence-case-study-step-3" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="florence-case-study-step-4" class="row case-study-ste d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="florence-case-study-step-5" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <button class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></button>
        </div>
        <div id="florence-case-study-step-6" class="row case-study-step d-none">
          <span id="name"></span>
          <span id="narrative"></span>
          <a  class="btn btn-light btn-casestudies-action d-none col-12 col align-self-center" id="action"></a>
        </div>

      </div>

    </figcaption>
    <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
  </figure>
</div>
