<div class="case-studies-row-container container-fluid flex-column w-100">
  <div class="row d-flex w-100">
    <div class="col-12 d-flex w-100">
      <figure class="figure col-8 col-sm-9 col-md-8">
        <figcaption class="figure-caption tile-caption" data-toggle="collapse" data-target="#collapseSandy" aria-expanded="false" aria-controls="collapseSandy" >
          Hurricane Sandy
          <i class="fa fa-caret-down" aria-hidden="true"></i>
        </figcaption>
        <figcaption class="figure-caption collapse w-100 sandy-case-study" id="collapseSandy">
          <p >
            <span id="sandy-case-study-geojson">U.S. Route 30 - White Horse Pike, Atlantic City is one of the main entry points into Atlantic City.</span>
            <ul>
              <li id="sandy-case-study1">The Pike is shown in the Critical Infrastructure input</li>
              <li id="sandy-case-study2">With surge scenarios from only Category 1 storms, the Pike could be inundated</li>
              <li id="sandy-case-study3">It shows up as highly exposed, suggesting it is impacted by many other inputs in the Threat Index</li>
            </ul>
          </p>
      </figcaption>
      <!-- <img src="../images/assets-example.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure."> -->
      </figure>
    </div>
  </div>
</div>
