<div class="zonal-long-table zonal-long-table-exposure-box">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-exposure-fw zonal-long-table-cell-exposure-box-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-six">6</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-seven">7</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-eight">8</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-nine">9</div>
    <div class="zonal-long-table-item zonal-long-table-item-exposure zonal-long-table-cell-exposure-box-ten">10</div>
  </div>
</div>
