<div class="zonal-long-table zonal-long-table-marineislands">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-marineislands-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-marineislands-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-marineislands-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-marineislands-four">4</div>
  </div>
</div>
