<div class="zonal-long-table zonal-long-table-stormsurge">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-stormsurge zonal-long-table-cell-stormsurge-five">5</div>
  </div>
</div>
