<div class="zonal-long-table zonal-long-table-critinfra">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-critinfra-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-critinfra zonal-long-table-cell-critinfra-six">6</div>
  </div>
</div>
