<div class="zonal-long-table zonal-long-table-ns-exposure">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-ns-exposure zonal-long-table-cell-ns-exposure-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-exposure zonal-long-table-cell-ns-exposure-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-exposure zonal-long-table-cell-ns-exposure-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-exposure zonal-long-table-cell-ns-exposure-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-exposure zonal-long-table-cell-ns-exposure-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-exposure zonal-long-table-cell-ns-exposure-five">5</div>
  </div>
</div>
