<div class="zonal-long-table zonal-long-table-threebreaks">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-threebreaks zonal-long-table-cell-threebreaks value-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-threebreaks zonal-long-table-cell-threebreaks value-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-threebreaks zonal-long-table-cell-threebreaks value-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-threebreaks zonal-long-table-cell-threebreaks value-three">3</div>
  </div>
</div>
