<div class="zonal-long-table zonal-long-table-tsunami-pr">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-tsunami-pr zonal-long-table-cell-tsunami-pr-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-tsunami-pr zonal-long-table-cell-tsunami-pr-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-tsunami-pr zonal-long-table-cell-tsunami-pr-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-tsunami-pr zonal-long-table-cell-tsunami-pr-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-tsunami-pr zonal-long-table-cell-tsunami-pr-five">5</div>
  </div>
</div>
