<div class="zonal-long-table zonal-long-table-erosion">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-erosion zonal-long-table-cell-erosion-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-erosion zonal-long-table-cell-erosion-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-erosion-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-erosion-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-erosion-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-erosion-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-erosion-five">5</div>
  </div>
</div>
