<div class="zonal-long-table zonal-long-table-ns-fishandwildlife">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-ns-fishandwildlife zonal-long-table-cell-ns-fishandwildlife-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-fishandwildlife zonal-long-table-cell-ns-fishandwildlife-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-fishandwildlife zonal-long-table-cell-ns-fishandwildlife-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-fishandwildlife zonal-long-table-cell-ns-fishandwildlife-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-fishandwildlife zonal-long-table-cell-ns-fishandwildlife-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns-fishandwildlife zonal-long-table-cell-ns-fishandwildlife-five">5</div>
  </div>
</div>
