<div class="zonal-long-table zonal-long-table-tenbreaks">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-six">6</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-seven">7</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-eight">8</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-nine">9</div>
    <div class="zonal-long-table-item zonal-long-table-item-tenbreaks zonal-long-table-cell-tenbreaks value-ten">10</div>
  </div>
</div>
