<div class="zonal-long-table zonal-long-table-ns-ns_hubs">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-ns_hubs zonal-long-table-cell-ns_hubs-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns_hubs zonal-long-table-cell-ns_hubs-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns_hubs zonal-long-table-cell-ns_hubs-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns_hubs zonal-long-table-cell-ns_hubs-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns_hubs zonal-long-table-cell-ns_hubs-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-ns_hubs zonal-long-table-cell-ns_hubs-five">5</div>
  </div>
</div>
