<div class="zonal-long-table zonal-long-table-driver-asset">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-critinfra-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-driver-asset driver-chart-backgroundColor-asset-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-asset driver-chart-backgroundColor-asset-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-asset driver-chart-backgroundColor-asset-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-asset driver-chart-backgroundColor-asset-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-asset driver-chart-backgroundColor-asset-five">5</div>
  </div>
</div>
