<div class="zonal-long-table zonal-long-table-asset">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-six">6</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-seven">7</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-eight">8</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-nine">9</div>
    <div class="zonal-long-table-item zonal-long-table-item-asset zonal-long-table-cell-asset-ten">10</div>
  </div>
</div>
