<div class="zonal-long-table zonal-long-table-socvuln">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-socvuln zonal-long-table-cell-socvuln-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-socvuln-socvuln- zonal-long-table-cell-socvuln-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-socvuln zonal-long-table-cell-socvuln-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-socvuln zonal-long-table-cell-socvuln-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-socvuln zonal-long-table-cell-socvuln-three">3</div>
  </div>
</div>
