<div class="zonal-long-table zonal-long-table-popdensity">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-popdensity zonal-long-table-cell-popdensity-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-popdensity zonal-long-table-cell-popdensity-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-popdensity-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-popdensity-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-popdensity-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-popdensity-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-popdensity-five">5</div>
  </div>
</div>
