<div class="zonal-long-table zonal-long-table-fivebreaks">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-fivebreaks zonal-long-table-cell-fivebreaks value-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-fivebreaks zonal-long-table-cell-fivebreaks value-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-fivebreaks zonal-long-table-cell-fivebreaks value-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-fivebreaks zonal-long-table-cell-fivebreaks value-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-fivebreaks zonal-long-table-cell-fivebreaks value-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-fivebreaks zonal-long-table-cell-fivebreaks value-five">5</div>
  </div>
</div>
