<div class="zonal-long-table zonal-long-table-slr">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-zero">0</div>
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-slr zonal-long-table-cell-slr-five">5</div>
  </div>
</div>
