<div class="zonal-long-table zonal-long-table-driver-threat">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-threat zonal-long-table-cell-threat-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-threat zonal-long-table-cell-threat-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-driver-threat driver-chart-backgroundColor-threat-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-threat driver-chart-backgroundColor-threat-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-threat driver-chart-backgroundColor-threat-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-threat driver-chart-backgroundColor-threat-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-driver-threat driver-chart-backgroundColor-threat-five">5</div>
  </div>
</div>
