<div class="zonal-long-table zonal-long-table-eightbreaks">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-six">6</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-seven">7</div>
    <div class="zonal-long-table-item zonal-long-table-item-eightbreaks zonal-long-table-cell-eightbreaks value-eight">8</div>
  </div>
</div>
