<div class="zonal-long-table zonal-long-table-socvulnislands">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-socvulnislands zonal-long-table-cell-socvulnislands-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-socvulnislands zonal-long-table-cell-socvulnislands-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-socvulnislands zonal-long-table-cell-socvulnislands-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-socvulnislands zonal-long-table-cell-socvulnislands-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-socvulnislands zonal-long-table-cell-socvulnislands-five">5</div>
  </div>
</div>
