<div class="zonal-long-table zonal-long-table-hub">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-none">None</div>
    <!-- <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-zero">0</div> -->
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-two">2</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-three">3</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-four">4</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-five">5</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-six">6</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-seven">7</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-eight">8</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-nine">9</div>
    <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-ten">10</div>
  </div>
</div>
