<div class="zonal-long-table zonal-long-table-twobreaks">
  <div class="zonal-long-table-row zonal-long-table-row-header-simple">
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
    <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
  </div>
  <div class="zonal-long-table-row">
    <div class="zonal-long-table-item zonal-long-table-item-twobreaks zonal-long-table-cell-twobreaks value-none">None</div>
    <div class="zonal-long-table-item zonal-long-table-item-twobreaks zonal-long-table-cell-twobreaks value-one">1</div>
    <div class="zonal-long-table-item zonal-long-table-item-twobreaks zonal-long-table-cell-twobreaks value-two">2</div>
  </div>
</div>
