<div class="w-100">
  <div class="download-container w-100">
    <h3>Regional Coastal Resilience Assessment Data Downloads</h3>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Continental United States (CONUS)</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Continental United States (CONUS). The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
          The size of the download file is 100 G.B.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset.zip" class="btn-download">Download CONUS data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Puerto Rico</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for Puerto Rico. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
          The size of the download file is 100 G.B.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset.zip" class="btn-download">Download Puerto Rico data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">U.S. Virgin Islands</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the U.S. Virgin Islands. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
          The size of the download file is 100 G.B.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset.zip" class="btn-download">Download U.S. Virgin Islands data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Northern Mariana Islands</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Northern Mariana Islands. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
          The size of the download file is 100 G.B.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset.zip" class="btn-download">Download Northern Mariana Islands data</a>
      </div>
    </div>

  </div>

  <hr class="download-source-break" />

  <div class="download-container w-100">
    <h3>Targeted Watershed Assessment Data Downloads</h3>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Cape Fear Watershed</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Cape Fear Watershed. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 64.0 MB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/CH_CoastalRes_Vista_20190424v2_FINAL.zip" class="btn-download">Download Charleston Harbor Watershed data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Charleston Harbor Watershed</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Charleston Harbor Watershed. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 9.8 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/CH_CoastalRes_Vista_20190424v2_FINAL.zip" class="btn-download">Download Charleston Harbor Watershed data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Delaware Bay and Coastal Watersheds</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Delaware Bay and Coastal Watersheds. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 9.8 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/DE_CoastalRes_Vista_20190424_FINAL.zip" class="btn-download">Download Delaware Bay and Coastal Watersheds data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Narragansett Bay and Coastal Rhode Island Watersheds</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Narragansett Bay and Coastal Rhode Island Watersheds. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 9.3 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/Narr_CoastalRes_Vista_20190424_FINAL.zip" class="btn-download">Download Narragansett Bay and Coastal Rhode Island Watersheds data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Portland and Midcoast Maine Watersheds</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Portland and Midcoast Maine Watersheds. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 13.4 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/ME_CoastalRes_Vista_20190424_FINAL.zip" class="btn-download">Download Portland and Midcoast Maine Watersheds data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">San Francisco Bay and Outer Coast Watersheds</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the San Francisco Bay and Outer Coast Watersheds. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 12.5 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/SF_CoastalRes_Vista_20190425_FINAL.zip" class="btn-download">Download San Francisco Bay and Outer Coast Watersheds data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Savannah River Watersheds</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Savannah River Watersheds. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 7.7 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/Sav_CoastalRes_Vista_20190424_FINAL.zip" class="btn-download">Download Savannah River Watersheds data</a>
      </div>
    </div>

    <hr class="download-datagroup-break" />

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-bottom download-layer-name-main h-100">Jacksonville and Lower St. Johns River Watersheds</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="data-download-description col-md-6 col-12 h-100">
          The download contains all data for the Jacksonville and Lower St. Johns River Watersheds. The data contians a readme file describing use.
        </div>
        <div class="data-download-size col-md-6 col-12 h-100">
           The size of the download file is 7.5 GB.
        </div>
      </div>
      <div class="col-12 h-100 w-100">
        <i class="fas fa-download"></i>
        <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/StJ_CoastalRes_Vista_20190425_FINAL.zip" class="btn-download">Download Jacksonville and Lower St. Johns River Watersheds data</a>
      </div>
    </div>



  </div>
</div>
