<div class="w-100">
  <div class="download-container">
    <h3>Regional Coastal Resilience Assessment</h3>
    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Resilience Hubs</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-hubs" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_resiliencehubs.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Community Exposure Index
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-exposure" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_exposure.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-middle download-layer-name-main">Community Asset and Threat Indices</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Community Asset Index</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-assets" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Threat Index</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-threats" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-middle download-layer-name-main">Aquatic and Terrestrial Indices</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Aquatic Index
            <!-- <button id="download-data-source" aria-label="Data Source" class="download-data-source-helper" title="Data sources: NatureServe (most recent available), NOAA National Marine Fisheries Service, NOAA National Marine Fisheries Service" data-toggle="tooltip" data-placement="bottom">
              <i aria-label="Data Source" class="fas fa-info"></i>
            </button> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-aquatic" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_aquatic.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Terrestrial Index</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-terrestrial" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_terrestrial.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-middle download-layer-name-main">Community Asset Index Inputs</div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Population Density</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-populationdensity" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset_populationdensity_inputs.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Social Vulnerability</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-socialvulnerability" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset_populationdensity_inputs.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Critical Facilities</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-criticalfacilities" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset_criticalfacilities_inputs.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Critical Infrastructure</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-criticalinfrastructure" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_asset_criticalinfrastructure_inputs.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-12 h-100">
          <div class="align-middle download-layer-name-main">Threat Index Inputs </div>
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Impermeable Soils</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-drainage" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_drainage.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Soil Erodibility</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-erosion" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_erosion.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Flood-Prone Areas</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-floodproneareas" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_floodproneareas.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Sea Level Rise</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-sealevelrise" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_sealevelrise.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Storm Surge</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-stromsurge" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_stormsurge.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Geological Stressors</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-geostressor" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_geostress.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>

      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Areas of Low Slope</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-slope" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_conus_threat_slope.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>
  </div>

  <div class="download-container targetedwatershed-download">
    <h3>Targeted Watershed Assement</h3>

    <div class="row d-flex w-100 text-left download-row">
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <div class="align-middle download-layer-name">Hubs</div>
      </div>
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <a id="download-slope" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/TargetedWatershedHubs8.zip"  role="button" class="btn btn-light btn-sm btn-download">Download</a>
      </div>
      <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
      </div>
    </div>

    <div class="row d-flex w-100 text-left download-row">
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <div class="align-middle download-layer-name">Exposure Index</div>
      </div>
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <a id="download-slope" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/TargetedWatershedExposure8.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
      </div>
      <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
      </div>
    </div>

    <div class="row d-flex w-100 text-left download-row">
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <div class="align-middle download-layer-name">Asset Index</div>
      </div>
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <a id="download-slope" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/TargetedWatershedAsset8.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
      </div>
      <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
      </div>
    </div>

    <div class="row d-flex w-100 text-left download-row">
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <div class="align-middle download-layer-name">Threat Index</div>
      </div>
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <a id="download-slope" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/TargetedWatershedThreat8.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
      </div>
      <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
      </div>
    </div>

    <div class="row d-flex w-100 text-left download-row">
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <div class="align-middle download-layer-name">Fish and wildlife Index</div>
      </div>
      <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
        <a id="download-slope" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/TargetedWatershedFishandWildlife8.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
      </div>
      <div class="col-md-6 col-sm-12 col-12 h-100 w-100">
      </div>
    </div>


  </div>

  <div class="download-container targetedwatershed-vista-download">
    <h3>Nature Serve Watershed Vista Data</h3>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Cape Fear Watershed</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nothing.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Charleston Harbor Watershed</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nothing.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Delaware Bay and Coastal Watersheds</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nothing.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Narragansett Bay and Coastal Rhode Island Watersheds</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nothing.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Portland and Midcoast Maine Watersheds</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nothing.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">San Francisco Bay and Outer Coast Watersheds</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nothing.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Savannah River Watershed</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/Sav_CoastalRes_Vista_20190424_FINAL.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

    <div class="download-group">
      <div class="row d-flex w-100 text-left download-row">
        <div class="col-md-5 col-sm-12 col-12 h-100 w-100">
          <div class="align-middle download-layer-name">Jacksonville and Lower St. Johns River Watersheds</div>
        </div>
        <div class="col-md-3 col-sm-12 col-12 h-100 w-100">
          <a id="download-capefearwatershed" href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/StJ_CoastalRes_Vista_20190425_FINAL.zip" role="button" class="btn btn-light btn-sm btn-download">Download</a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 h-100 w-100">
        </div>
      </div>
    </div>

  </div>
</div>
