<div class="container-fluid d-flex flex-column">
  <div class="row justify-content-center">
    <div class="col-12 align-self-center">
      <h3>Download Data</h3>

        <!-- download html goes here -->

        <div class="container">

        <div id="app">
          <div id="nav-holder"></div>

  <!--beginning of grid -->

  <div class="row text-center">
    <div class="col-auto">
      <div class="row"> &nbsp</div>
      <h6>All Data</h6>
      <div class="row"> &nbsp</div>
      <div class="row"> &nbsp</div>
      <h5>Combined Fish and Wildlife Index</h5>

      <div class="row">&nbsp </div>
      <h6>Aquatic Index</h6>
      <div class="row">&nbsp </div>
      <h6>Terrestrial Index</h6>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div><div class="row"> &nbsp</div>
      <h5>Community Exposure Index</h5>
      <div class="row">&nbsp </div>
      <h6>Community Asset Index</h6>
      <div class="row">&nbsp </div>
      <h6>Threat Index</h6>
    </div>

    <!--All Regions Col-->
    <div class="col-auto">

      <h6>All Regions</h6>
      <!-- all data -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_data.zip" role="button" class="btn btn-light btn-sm" download>Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- fish and wildlife -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_fish_wildlife.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- aquatic -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_aquatic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- terrestrial -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_terrestrial.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- exposure -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_exposure.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- asset -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_asset.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- threat -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_threat.zip" role="button" class="btn btn-light btn-sm">Download</a>
    </div>

    <!--North Atlantic Col-->
    <div class="col-md-auto">
      <h6>North Atlantic</h6>
      <!-- all data -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- fish and wildlife -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_fish_wildlife.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- aquatic -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_aquatic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- terrestrial -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_terrestrial.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- exposure -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_exposure.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- asset -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_asset.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- threat -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_threat.zip" role="button" class="btn btn-light btn-sm">Download</a>
    </div>

    <!--south Atlantic Col-->
    <div class="col-md-auto">
      <h6>South Atlantic</h6>
      <!-- all data -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- fish and wildlife -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_fish_wildlife.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- aquatic -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_aquatic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- terrestrial -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_terrestrial.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- exposure -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_exposure.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- asset -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_asset.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- threat -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_threat.zip" role="button" class="btn btn-light btn-sm">Download</a>
    </div>

    <!--Gulf Col-->

    <div class="col-auto">
      <h6>Gulf</h6>
      <!-- all data -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- fish and wildlife -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_fish_wildlife.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- aquatic -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_aquatic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- terrestrial -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_terrestrial.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- exposure -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_exposure.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- asset -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_asset.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- threat -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_threat.zip" role="button" class="btn btn-light btn-sm">Download</a>
    </div>

    <!--California Col-->
    <div class="col-md-auto">
      <h6>California</h6>
      <!-- all data -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- fish and wildlife -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_fish_wildlife.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- aquatic -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_aquatic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- terrestrial -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_terrestrial.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- exposure -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_exposure.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- asset -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_asset.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- threat -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_threat.zip" role="button" class="btn btn-light btn-sm">Download</a>
    </div>

    <!--Pacific Northwest Col-->
    <div class="col-md-auto">
      <h6>Pacific Northwest</h6>
      <!-- all data -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- fish and wildlife -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_fish_wildlife.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- aquatic -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_aquatic.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- terrestrial -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_terrestrial.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div><div class="row"> &nbsp</div>
      <!-- exposure -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_exposure.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- asset -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_asset.zip" role="button" class="btn btn-light btn-sm">Download</a>
      <div class="row">&nbsp </div>
      <!-- threat -->
      <a href="https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_threat.zip" role="button" class="btn btn-light btn-sm">Download</a>
    </div>
          </div>
  <!-- end of nav holder and grid -->
        </div>
  <!-- end of app -->
        </div>
  <!-- end of container -->
    <script type="text/javascript" src="vendors~bootstrap~index.app.bundle.js?0ddc349239fff92511db"></script><script type="text/javascript" src="vendors~index.app.bundle.js?0ddc349239fff92511db"></script><script type="text/javascript" src="vendors~bootstrap.app.bundle.js?0ddc349239fff92511db"></script><script type="text/javascript" src="bootstrap.app.bundle.js?0ddc349239fff92511db"></script><script type="text/javascript" src="download.app.bundle.js?0ddc349239fff92511db"></script></body>


  <!-- LINKS!! -->
  <!--
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_aquatic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_asset.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_data.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_exposure.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_fish_wildlife.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_terrestrial.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_all_threat.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_aquatic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_asset.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_exposure.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_fish_wildlife.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_terrestrial.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_california_threat.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_aquatic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_asset.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_exposure.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_fish_wildlife.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_terrestrial.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_gulf_threat.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_aquatic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_asset.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_exposure.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_fish_wildlife.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_terrestrial.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_north_atlantic_threat.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_aquatic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_asset.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_exposure.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_fish_wildlife.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_terrestrial.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_pacific_northwest_threat.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_aquatic.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_asset.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_exposure.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_fish_wildlife.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_terrestrial.zip
  https://s3.amazonaws.com/nfwf-tool/nfwf_download_data/nfwf_south_atlantic_threat.zip
  -->

    </div>
  </div>
</div>
