<div class="container-fluid d-flex flex-column w-100">
  <div class="row d-flex w-100">
    <div class="sticky-top sideheading w-100">
      <h3  > Start Exploring</h3>
      <div id="user-shape" class="fow d-flex w-100">
          <!--   -->
          <button id="btn-clear-area" title="Clear Map" aria-label="Clear Map" type="button" class="btn btn-light btn-box user-shape btn-clear-area"><i class="far fa-trash-alt"></i><br/>Clear Areas on map</button>
          <button id="draw-area-btn" title="Draw Area on Map" aria-label="Draw Area on Map" type="button" class="btn btn-light btn-box user-shape btn-draw-area"><i class="fas fa-draw-polygon"></i><br/>Draw Area on map</button>
          <label class="btn btn-light btn-box user-shape btn-file-label"  for="upload-shape-btn"><i class="fas fa-upload"></i><br/>Upload Shapefile</label>
          <input type="file" multiple=true accept=".zip, .shp, .dbf, .prj, .geojson, .json" id="upload-shape-btn" class="btn btn-light btn-box btn-upload-shape btn-file"></input>
          <button id="btn-update-zonal-stats" title="Update Statistics" aria-label="Update Statistics" type="button" class="btn btn-light btn-box user-shape btn-clear-area"><i class="fas fa-sync-alt"></i><br/>Update Statistics</button>
      </div>
      <div></div>
      <hr class="w-100"/>
    </div>
      <div id="zonal-area-wrapper" class="h-100">
        <p class="zonal-instructions-initial">Click on the map to bring up information. Select multiple points to draw an area and get information on the area.</p>
      </div>
  </div>
</div>
