<div class="whatcando-container">

  <header class="Title">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2 class="whatcando-heading">Welcome to Coastal Resilience Assessment and Siting Tool (CREST)!</h2>
          <div class="section-subheading text-muted">This web tool is used to explore Resilience Hubs along the coastlines of the contiguous United States. Resilience Hubs
          are large areas of natural, open space that can be used to make informed decisions about the potential of restoration, conservation, or
          resilience projects to achieve dual benefits by protecting human communities from storm impacts while also providing important habitat for fish and wildlife.</div>
        </div>
      </div>
    </div>
  </header>

  <!-- whatcando -->
  <section id="whatcando">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="whatcando-heading">What can you do with Crest?</h2>
          <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span> -->
          <!-- <h4 class="whatcando-heading">Explore the Results</h4> -->
          <a role="button" href="#AnalyzeProjectSites" id="whatcando-btn" title="Explore the Results" aria-label="Explore the Results" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary"><span class="btn-med-label">Explore the Results</span><span class="btn-lg-label"></span></a>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span> -->
          <!-- <h4 class="whatcando-heading"></h4> -->
          <a role="button" href="#SearchHubs" id="whatcando-btn" title="Identify Project Opportunities" aria-label="Identify Project Opportunities" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary"><span class="btn-med-label">Identify Project Opportunities</span><span class="btn-lg-label"></span></a>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span> -->
          <!-- <h4 class="whatcando-heading">Learn More About the Assessment</h4> -->
          <a role="button" href="#About" id="whatcando-btn" title="Learn More About the Assessment" aria-label="Learn More About the Assessment" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary"><span class="btn-med-label">Learn More About the Assessment</span><span class="btn-lg-label"></span></a>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <img src="../images/whatcando-regional.png" class="rounded img-fluid " alt="Reginal Assement and Resilience Hubs.">
      </div>
    </div>
  </section>


  <!-- whatcando -->
  <section id="whatcando">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="whatcando-heading">Targeted Watershed Assessments</h2>
          <div class="section-subheading text-muted">CREST also includes eight in-depth assessments of targeted watersheds that incorporate more specific fish and wildlife datasets as identified by local stakeholders. Within these watersheds, users can more precisely target restoration opportunities to maximize benefits for communities, fish, and wildlife.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span> -->
          <!-- <h4 class="whatcando-heading"></h4> -->
          <a role="button" href="#SearchNSHubs" id="whatcando-btn" title="Explore a Targeted Watershed" aria-label="Explore a Targeted Watershed" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary"><span class="btn-med-label">Explore a Targeted Watershed</span><span class="btn-lg-label"></span></a>
          <p class="text-muted"></p>
        </div>
      </div>
    </div>
  </section>

</div>
