<div>
  <div class="row whatcando-row d-flex w-100" >
    <div class="landingpage-header col-md-12 col-sm-12">
      <!-- <img src="../images/making-of-zoom-hubs-cut.png" class="rounded img-fluid header-image" alt="Reginal Assement and Resilience Hubs."> -->
    </div>
  </div>
  <div class="whatcando-container container">

    <header class="Title">
      <div class="whatcando-inner-first-container">
        <div class="row  d-flex">
          <div class="col-lg-12">
            <h2 class="whatcando-heading">Coastal Resilience Evaluation and Siting Tool (CREST)</h2>
            <div class="section-subheading">CREST can be used to make informed decisions about the siting of restoration and resilience projects.  The tool
              identifies Resilience Hubs, which are areas of open space where projects may have the greatest potential to benefit both human community
              resilience and fish and wildlife.  Resilience Hubs incorporate multiple indices, which can also be explored through CREST.
            </div>
            <!-- <div class="section-subheading final-report-txt">
            Get additional information about the Coastal Resilience Assessments with the <a class="final-report-link" target="_blank" href="">final report</a>.
          </div> -->
        </div>
      </div>
      <div class="row  d-flex final-report-row">
        <div class="col-md-2 col-sm-12">
        </div>
        <div class="col-md-4 col-sm-12">
          <a role="button" href="#SearchHubs" id="whatcando-btn-startusingCREST" title="Start using the CREST" aria-label="Start using the CREST" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Start Using CREST</span><span class="btn-lg-label"></span></a>
        </div>
        <div class="col-md-4 col-sm-12">
          <a role="button" target="_blank" href="https://www.nfwf.org/coastalresilience/Pages/regional-coastal-resilience-assessment.aspx" id="whatcando-btn-finalreport"  title="Final Report" aria-label="Final Report" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn align-middle"><span class="btn-med-label">Coastal Resilience Assessments - Final Reports</span></a>
          <!-- <p class="action-description">Coastal Resilience Assessments – Final Reports</p> -->
        </div>
        <div class="col-md-2 col-sm-12">
        </div>
      </div>
    </div>
  </header>

  <!-- whatcando -->
  <section id="whatcando">
    <div class="row  d-flex section-header">
      <div class="col-lg-12 col-sm-12 text-center">
        <h2 class="whatcando-heading">Regional Assessment</h2>
      </div>
    </div>

    <div class="whatcando-inner-container">
      <div class="row  d-flex">
        <!-- <div class="col-sm-0 col-md-1 text-left">
      </div> -->
      <div class="col-12">
        <img src="../images/CONUS_Hubs_Tool_15x5.jpg" class="rounded img-fluid header-image" alt="Reginal Assement and Resilience Hubs.">
      </div>
      <!-- <div class="col-sm-0 col-md-1 text-left">
    </div> -->
  </div>
  <div class="row whatcando-examples-row">
    <div class="col-md-7 col-sm-12">
      <img src="../images/doresil-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
    </div>
    <div class="col-md-5 col-sm-12">
      <p class="action-description">Identify all resilience hubs in your study area and rank them by their potential for a project to deliver both human community resilience and fish and wildlife benefits.</p>
      <a role="button" href="#SearchHubs" id="whatcando-btn-reslinceprojects" title="Where Should I Do A Resilience Project?" aria-label="Where Should I Do A Resilience Project?" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Where Should I Do A Resilience Project?</span><span class="btn-lg-label"></span></a>
    </div>
  </div>

  <div class="row d-flex whatcando-examples-row">
    <div class="col-md-5 col-sm-12 order-md-2 order-2"">
      <p class="action-description">Examine and compare your project site(s) in terms of its proximity to resilience hubs, as well as examine the community exposure and fish and wildlife indices in the surrounding area.</p>
      <a role="button" href="#AnalyzeProjectSites" id="whatcando-btn-analyzesites" title="Analyze Project Sites" aria-label="Analyze Project Sites" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Analyze Project Sites</span><span class="btn-lg-label"></span></a>
    </div>
    <div class="col-md-7 col-sm-12 order-md-3 order-1">
      <img src="../images/analyze-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
    </div>
  </div>

  <div class="row d-flex whatcando-examples-row">
    <div class="col-md-7 col-sm-12">
      <img src="../images/learnmore-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
    </div>
    <div class="col-md-5 col-sm-12">
      <p class="action-description">Learn how the Assessment was created.</p>
      <a role="button" href="#About" id="whatcando-btn-learnmore" title="Learn More About the Assessment" aria-label="Learn More About the Assessment" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Learn More About the Assessment</span><span class="btn-lg-label"></span></a>
    </div>
  </div>
</div>

</section>


<!-- whatcando -->
<section id="whatcando">
  <div class="row  d-flex section-header">
    <div class="col-lg-12 text-center">
      <h2 class="whatcando-heading">Targeted Watershed Assessments</h2>
    </div>
  </div>

  <div class="whatcando-inner-container">

    <div class="row">
      <div class="col-lg-12">
        <img src="../images/homepage_targetwatersheds.jpg" class="rounded img-fluid header-image" alt="Reginal Assement and Resilience Hubs.">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-0">
      </div>
      <div class="col-lg-6  col-md-12 text-center">
        <div class="section-subheading">CREST also includes eight in-depth assessments of targeted watersheds that incorporate
          more specific fish and wildlife datasets as identified by local stakeholders. Within these watersheds, users can more precisely
          target restoration opportunities to maximize benefits for communities, fish, and wildlife.
        </div>
      </div>
      <div class="col-lg-3 col-md-0">
      </div>
    </div>


    <div class="row d-flex whatcando-examples-row">
      <div class="col-md-7">
        <img src="../images/targeted-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
      </div>
      <div class="col-md-5">
        <p class="action-description">Identify all resilience hubs in your study area and rank them by their potential for a project to
          deliver both human community resilience and fish and wildlife benefits.</p>
          <a role="button" href="#SearchNSHubs" id="whatcando-btn-targetedwatershed"  title="Targeted Watershed" aria-label="Targeted Watershed" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Targeted Watersheds</span><span class="btn-lg-label"></span></a>
        </div>
      </div>

</div>
</section>

</div>
</div>
