<div>
  <div class="row whatcando-row d-flex w-100" >
    <div class="landingpage-header col-md-12 col-sm-12">
    </div>
  </div>
  <div class="whatcando-container container">

    <header class="Title">
      <div class="whatcando-inner-first-container">
        <div class="row  d-flex">
          <div class="col-lg-12">
            <h2 class="whatcando-heading">Coastal Resilience Evaluation and Siting Tool (CREST)</h2>
            <div class="section-subheading">CREST can be used to make informed decisions about the siting of restoration and resilience projects.  The tool
              identifies Resilience Hubs, which are areas of open space where projects may have the greatest potential to benefit both human community
              resilience and fish and wildlife.  Resilience Hubs incorporate multiple indices, which can also be explored through CREST.
            </div>
          </div>
        </div>
        <div class="row  d-flex final-report-row">
          <div class="col-lg-2 col-md-12 col-sm-12">
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <!-- <a role="button" href="#SearchHubs" id="whatcando-btn-startusingCREST" title="Start using the CREST" aria-label="Start using the CREST" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Start Using CREST</span><span class="btn-lg-label"></span></a> -->
            <div class="dropdown">
              <button title="Start using the CREST" aria-label="Start using the CREST" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Start Using CREST</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id="whatcando-btn-startusingCREST-conus" href="#AnalyzeProjectSites">Continental U.S.</a>
                <a class="dropdown-item" id="whatcando-btn-startusingCREST-puerto_rico" href="#AnalyzeProjectSites">Puerto Rico</a>
                <a class="dropdown-item" id="whatcando-btn-startusingCREST-northern_mariana_islands" href="#AnalyzeProjectSites">Northern Mariana Islands</a>
                <a class="dropdown-item" id="whatcando-btn-startusingCREST-us_virgin_islands" href="#AnalyzeProjectSites">U.S. Virgin Islands</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <a role="button" target="_blank" href="https://www.nfwf.org/coastalresilience/Pages/regional-coastal-resilience-assessment.aspx" id="whatcando-btn-finalreport"  title="Final Report" aria-label="Final Report" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn align-middle"><span class="btn-med-label">Regional Coastal Resilience Assessments</span></a>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
          </div>
        </div>
      </div>
    </header>
    <section id="whatcando">
      <div class="row  d-flex section-header">
        <div class="col-lg-12 col-sm-12 text-center">
          <h2 class="whatcando-heading">Regional Assessment</h2>
        </div>
      </div>
      <div class="whatcando-inner-container">
        <div class="row  d-flex">
          <div class="col-12">
            <img src="../images/CONUS_Hubs_Tool_15x5.jpg" class="rounded img-fluid header-image" alt="Reginal Assement and Resilience Hubs.">
          </div>
        </div>
        <div class="row whatcando-examples-row">
          <div class="col-md-7 col-sm-12">
            <img src="../images/doresil-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <p class="action-description">Identify all Resilience Hubs in your study area and rank them by their potential for a project located therein to deliver both human community resilience and fish and wildlife benefits.</p>
            <a role="button" href="#SearchHubs" id="whatcando-btn-reslinceprojects" title="Where Should I Do A Resilience Project?" aria-label="Where Should I Do A Resilience Project?" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Where Should I Do A Resilience Project?</span><span class="btn-lg-label"></span></a>
          </div>
        </div>
        <div class="row d-flex whatcando-examples-row">
          <div class="col-lg-5 col-md-12 col-sm-12 order-md-2 order-2"">
            <p class="action-description">Examine and compare your project site(s) by proximity to Resilience Hubs, and explore the Community Exposure and Fish and Wildlife Indices in the surrounding area.</p>
            <a role="button" href="#AnalyzeProjectSites" id="whatcando-btn-analyzesites" title="Analyze Project Sites" aria-label="Analyze Project Sites" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Analyze Project Sites</span><span class="btn-lg-label"></span></a>
          </div>
          <div class="col-md-7 col-sm-12 order-lg-3 order-md-1 order-1">
            <img src="../images/analyze-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
          </div>
        </div>

        <div class="row d-flex whatcando-examples-row">
          <div class="col-md-7 col-sm-12">
            <img src="../images/learnmore-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <p class="action-description">Learn how the Assessment was created.</p>
            <a role="button" href="#About" id="whatcando-btn-learnmore" title="Learn More About the Assessment" aria-label="Learn More About the Assessment" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">About</span><span class="btn-lg-label"></span></a>
          </div>
        </div>
      </div>
    </section>
    <section id="whatcando">
      <div class="row  d-flex section-header">
        <div class="col-lg-12 text-center">
          <h2 class="whatcando-heading">Targeted Watershed Assessments</h2>
        </div>
      </div>
      <div class="whatcando-inner-container">
        <div class="row">
          <div class="col-lg-12">
            <img src="../images/homepage_targetwatersheds.jpg" class="rounded img-fluid header-image" alt="Reginal Assement and Resilience Hubs.">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-0">
          </div>
          <div class="col-lg-6  col-md-12 text-center">
            <div class="section-subheading">CREST also includes eight in-depth assessments of targeted watersheds that incorporate
              more specific fish and wildlife datasets as identified by local stakeholders. Within these watersheds, users can more precisely
              target restoration opportunities to maximize benefits for communities, fish, and wildlife.
            </div>
          </div>
          <div class="col-lg-3 col-md-0">
          </div>
        </div>
        <div class="row d-flex whatcando-examples-row">
          <div class="col-md-7">
            <img src="../images/targeted-ex.jpg" class="rounded img-fluid whatcando-ex-image" alt="Reginal Assement and Resilience Hubs.">
          </div>
          <div class="col-lg-5 col-md-12">
            <p class="action-description">Identify all Resilience Hubs in your study area and rank them by their potential located therein for a project to
              deliver both human community resilience and fish and wildlife benefits.</p>
              <a role="button" href="#SearchNSHubs" id="whatcando-btn-targetedwatershed"  title="Targeted Watershed" aria-label="Targeted Watershed" class="btn btn-light btn-box user-shape btn-draw-area bnt-primary whatcando-btn"><span class="btn-med-label">Targeted Watersheds</span><span class="btn-lg-label"></span></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
