<div ref="LayerInput" id="layerToggle" class="custom-control custom-checkbox">
  <input ref="LayerInput" type="checkbox" class="custom-control-input" id="customCheck">
  <label ref="LayerLabel" class="custom-control-label" for="customCheck" id="customLabel">Layer 1</label>
</div>


<!-- <label ref="LayerLabel" class="custom-control overflow-checkbox" id="layerToggle">
	<input ref="LayerInput" type="checkbox" class="overflow-control-input" id="customCheck" >
	<span class="overflow-control-indicator"></span>
	<span class="overflow-control-description" id="customLabel" >Overflow checkbox</span>
</label> -->
