<!-- <div id="mapInfo-content" ref="mapInfo-content" class="mapInfo-content">test</div> -->
<div ref="map_info_list" class="map_info_list">
  <div class="toggle-list">
    <h5>Map Information</h5>
    <hr />
    <div ref="mapinfodata" id="mapinfodata" class="text-left mapinfodata">
      <div class="mapinfodata-holder" ><span class="mapinfodata-score text-left" > asset score: </span><span class="asset-score text-right" >{asset}</span></div>
      <div class="mapinfodata-holder" ><span class="mapinfodata-score text-left" > threat score: </span><span class="asset-score text-right" >{threat}</span></div>
      <div class="mapinfodata-holder" ><span class="mapinfodata-score text-left" > exposure score: </span><span class="asset-score text-right" >{exposure}</span></div>
    </div>
  </div>
</div>
