<!-- <div id="mapInfo-content" ref="mapInfo-content" class="mapInfo-content">test</div> -->
<div ref="map_info_list" id="map_info_list" class="map_info_list">
  <div class="toggle-list">
    <div class="flex-fill h-100 mapinfo-header" >
      <div class="sticky-top">
        <h5>Map Information</h5>
        <hr />
      </div>
    </div>

    <div ref="mapinfodata" id="mapinfodata" class="text-left mapinfodata">

      <span class="default-mapinfo" >
        <div class="zonal-short-wrappper active col-12">
          <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-short-chart w-100">
            <!-- <h6>Basic Information</h6> -->
            <div class="zonal-long-graph zonal-summary-wrapper">
              <div class="zonal-long-graph-content">
                <div class="zonal-long-graph-axis">
                  <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
                  <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
                </div>
                <div class="zonal-long-graph-steps">
                  <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
                  <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
                  <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
                  <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
                </div>
                <div class="zonal-long-graph-bars">
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-hubs"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-aquatic"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-terrestrial"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-exposure"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-asset"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-threat"></div>
                  </div>
                </div>
              </div>
              <div class="zonal-long-graph-labels">
                <div class="zonal-long-graph-label zonal-long-graph-label-hubs"><div class="zonal-long-graph-label-text">Resilience Hubs</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-aquatic"><div class="zonal-long-graph-label-text">Aquatic</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-terrestrial"><div class="zonal-long-graph-label-text">Terrestrial</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-exposure"><div class="zonal-long-graph-label-text">Community Exposure</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-asset"><div class="zonal-long-graph-label-text">Asset</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-threat"><div class="zonal-long-graph-label-text">Threat</div></div>
              </div>
            </div>
          </div>
        </div>
      </span>

      <span class="ns-mapinfo" >
        <div class="zonal-short-wrappper active col-12">
          <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-short-chart w-100">
            <!-- <h6>Basic Information</h6> -->
            <div class="zonal-long-graph zonal-summary-wrapper">
              <div class="zonal-long-graph-content">
                <div class="zonal-long-graph-axis">
                  <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
                  <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
                </div>
                <div class="zonal-long-graph-steps">
                  <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
                  <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
                  <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
                  <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
                </div>
                <div class="zonal-long-graph-bars">
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-ns-hubs"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-ns-fishandwildlife"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-ns-exposure"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-ns-asset"></div>
                  </div>
                  <div class="zonal-long-graph-bar-wrapper">
                    <div class="zonal-long-graph-bar zonal-long-graph-bar-ns-threat"></div>
                  </div>
                </div>
              </div>
              <div class="zonal-long-graph-labels">
                <div class="zonal-long-graph-label zonal-long-graph-label-hubs"><div class="zonal-long-graph-label-text">Hubs</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-aquatic"><div class="zonal-long-graph-label-text">Fish and Wildlife</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-exposure"><div class="zonal-long-graph-label-text">Exposure</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-asset"><div class="zonal-long-graph-label-text">Asset</div></div>
                <div class="zonal-long-graph-label zonal-long-graph-label-threat"><div class="zonal-long-graph-label-text">Threat</div></div>
              </div>
            </div>
          </div>
        </div>
      </span>
      <!-- <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

      <div class="mapinfodata-header" id="Hubs-Header" >Resilience Hub</div>
      <div class="mapinfodata-holder" id="hubs-holder" >
        <div class="mapinfodata-score text-left" id="hubs-title" >Hub Value</div>
        <div class="data-score text-center" id="hubs-score" style="background-color: #e9ecef; color: #343A4F;">Unknown Priority</div>
      </div>


      <br />
      <div class="mapinfodata-header" id="Exposure-Header" >Community Exposure Index</div>
      <div class="mapinfodata-holder" id="asset-holder" >
        <div class="mapinfodata-score text-left" id="asset-title" >Asset Value</div>
        <div class="data-score text-center" id="asset-score" style="background-color: #e9ecef; color: #343A4F;">N/A</div>
      </div>
      <div class="mapinfodata-holder" id="threat-holder" >
        <span class="fa fa-times mapinfo-math-icon float-left"></span><div class="mapinfodata-score text-left" id="threat-title" >Threat Value</div>
        <div class="data-score text-center" id="threat-score" style="background-color: #e9ecef; color: #343A4F;">N/A</div>
      </div>
      <hr class="mapinfo-math-hr" />
      <div class="mapinfodata-holder" id="exposure-holder" >
        <span class="fa fa-equals mapinfo-math-icon float-left"></span><div class="mapinfodata-score text-left" id="exposure-title " >Exposure Value</div>
        <div class="data-score text-center" id="exposure-score" style="background-color: #e9ecef; color: #343A4F;">N/A</div>
      </div>

      <br />
      <div class="mapinfodata-header" id="FishnWildlife-Header" >Fish and Wildlife Index</div>
      <div class="mapinfodata-holder" id="aquatic-holder" >
        <div class="mapinfodata-score text-left" id="aquatic-title" >Aquatic Value</div>
        <div class="data-score text-center" id="aquatic-score"style="background-color: #e9ecef; color: #343A4F;">N/A</div>
      </div>
      <div class="mapinfodata-holder" id="terrestrial-holder" >
        <div class="mapinfodata-score text-left" id="terrestrial-title" >Terrestrial Value</div>
        <div class="data-score text-center" id="terrestrial-score" style="background-color: #e9ecef; color: #343A4F;">N/A</div>
      </div> -->

    </div>
  </div>
</div>
