<div ref="maplayers_list" class="h-100 maplayers_list">
  <div class="sticky-top stickcustom">
    <div id="map_info_list_collapse" ref="map_info_list_collapse" class="map_info_list map_info_list_collapse d-none">
      <h5>
        <span title="Open map layer list" aria-label="Open" id="maplayers_list_open" class="float-right text-center">
          <i class="fas fa-layer-group"></i>
        </span>
        <span>Map Layers</span>
      </h5>
    </div>
  </div>

  <div class="toggle-list" id="maplayers_list_opened">
    <div class="sticky-top stickcustom">
      <h5>
        <span>Map Layers</span>
        <span title="Close Map Layer List" aria-label="Close Map Layer List" id="maplayers_list_close" class="float-right text-center">
          <i title="Close Map Layer List" aria-label="Close Map Layer List" class="fas fa-times"></i>
        </span>
      </h5>
      <hr />
    </div>

    <div ref="ToggleLayers" id="ToggleLayerList" class="layer-toggles">
      <button id="btn-basemap" title="Change Base Map" aria-label="Clear Map" type="button" class="btn-light zonal-long-button btn-basemap">
        <span class="btn-icon btn-text-left w-100">
          <i class="fas fa-th-large icon-left"></i>
          <span class="btn-action">Base Map</span>
          <span id="btn-basemap-label" class="btn-label">Dark Gray</span>
        </span>
      </button>

      <div id="basemaplist" class="list-group list-group-dark list-basemap w-100">
        <span title="Close Base Map List" aria-label="Close Base Map List" id="basemap_list_close" class="float-right text-right w-100 basemap_list_close">
          <span class="choose-base-map">Choose a Base Map</span>
          <i title="Close Base Map List" aria-label="Close Base Map List" class="fas fa-times"></i>
        </span>
        <button title="Base Map Dark Gray" aria-label="Base Map Dark Gray" id="basemap-DarkGray" type="button" class="list-group-item list-group-item-action">
          <img src="../images/DGCanvasBase.png" alt="Base Map Dark Gray" class="basemap-img" />
          <span class="list-label-name">Dark Gray</span>
        </button>
        <button title="Base Map Imagery" aria-label="Base Map Imagery" id="basemap-Imagery" type="button" class="list-group-item list-group-item-action">
          <img src="../images/tempimagery.jpg" alt="Base Map Imagery" class="basemap-img" />
          <span class="list-label-name">Imagery</span>
        </button>
        <button title="Base Map Topographic" aria-label="Base Map Topographic" id="basemap-Topographic" type="button" class="list-group-item list-group-item-action">
          <img src="../images/topo_map_2.jpg" alt="Base Map Topographic" class="basemap-img" />
          <span class="list-label-name">Topographic</span>
        </button>
        <button title="Base Map Streets" aria-label="Base Map Dark Streets" id="basemap-Streets" type="button" class="list-group-item list-group-item-action">
          <img src="../images/world_street_map.jpg" alt="Base Map Streets" class="basemap-img" />
          <span class="list-label-name">Streets</span>
        </button>
      </div>

      <div class="LayerList-spacer" id="ExposureLayers-Header"></div>

      <div class="LayerInput-header" id="HubsLayers-Header">Resilience Hubs</div>

      <div ref="LayerInput" id="HubsTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Toggle HubsTMS" aria-label="Toggle HubsTMS" ref="HubsTMS-toggle" type="checkbox" class="custom-control-input" id="HubsTMS-toggle">
          <label title="Toggle HubsTMS" aria-label="Toggle HubsTMS" ref="HubsTMS-label" class="custom-control-label" for="HubsTMS-toggle" id="HubsTMS-label">Resilience Hubs</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div class="LayerList-spacer" id="ExposureLayers-Header"></div>

      <div class="LayerInput-header" id="ExposureLayers-Header">Community Asset and Threat Indices</div>
      <div ref="LayerInput" id="AssetsTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Toggle Asset Layer" aria-label="Toggle Asset Layer" ref="AssetsTMS-toggle" type="checkbox" class="custom-control-input" id="AssetsTMS-toggle">
          <label title="Toggle Asset Layer" aria-label="Toggle Asset Layer" ref="AssetsTMS-label" class="custom-control-label" for="AssetsTMS-toggle" id="AssetsTMS-label">Community Asset Index</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>
      <div ref="LayerInput" id="ThreatsTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Toggle Threat Layer" aria-label="Toggle Threat Layer" ref="ThreatsTMS-toggle" type="checkbox" class="custom-control-input" id="ThreatsTMS-toggle">
          <label title="Toggle Threat Layer" aria-label="Toggle Threat Layer" ref="ThreatsTMS-label" class="custom-control-label" for="ThreatsTMS-toggle" id="ThreatsTMS-label">Threat Index</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div class="LayerList-spacer" id="ExposureLayers-Header"></div>

      <div class="LayerInput-header" id="ExposureLayers-Header">Community Exposure Index</div>
      <div ref="LayerInput" id="ExposureTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Community Exposure Index Layer" aria-label="Toggle Community Exposure Index Layer" ref="ExposureTMS-toggle" type="checkbox" class="custom-control-input" id="ExposureTMS-toggle">
          <label title="Community Exposure Index Layer" aria-label="Toggle Community Explore Index Layer" ref="ExposureTMS-label" class="custom-control-label" for="ExposureTMS-toggle" id="ExposureTMS-label">Community Exposure Index</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div class="LayerList-spacer" id="ExposureLayers-Header"></div>

      <div class="LayerInput-header" id="FishnWildlife-Header">Aquatic and Terrestrial Indices</div>

      <div ref="LayerInput" id="AquaticTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Aquatic Index Layer" aria-label="Toggle Aquatic Index Layer" ref="AquaticTMS-toggle" type="checkbox" class="custom-control-input" id="AquaticTMS-toggle">
          <label title="Aquatic Index Layer" aria-label="Toggle Aquatic Index Layer" ref="AquaticTMS-label" class="custom-control-label" for="AquaticTMS-toggle" id="AquaticTMS-label">Aquatic Index</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="TerrestrialTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Terrestrial Index Layer" aria-label="Toggle Terrestrial Index Layer" ref="TerrestrialTMS-toggle" type="checkbox" class="custom-control-input" id="TerrestrialTMS-toggle">
          <label title="Terrestrial Index Layer" aria-label="Toggle Terrestrial Index Layer" ref="TerrestrialTMS-label" class="custom-control-label" for="TerrestrialTMS-toggle" id="TerrestrialTMS-label">Terrestrial Index</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div class="LayerList-spacer" id="AssetInputs-Header"></div>

      <div class="LayerInput-header" id="AssetInputs-Header">Community Asset Index Inputs</div>

      <div ref="LayerInput" id="PopDensityTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Population Density Layer" aria-label="Toggle Population Density Layer" ref="PopDensityTMS-toggle" type="checkbox" class="custom-control-input" id="PopDensityTMS-toggle">
          <label title="Population Density Layer" aria-label="Toggle Population Density Layer" ref="PopDensityTMS-label" class="custom-control-label" for="PopDensityTMS-toggle" id="PopDensityTMS-label">Population Density</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="SocVulnTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Social Vulnerability Index Layer" aria-label="Toggle Social Vulnerability Index Layer" ref="SocVulnTMS-toggle" type="checkbox" class="custom-control-input" id="SocVulnTMS-toggle">
          <label title="Social Vulnerability Index Layer" aria-label="Toggle Social Vulnerability Index Layer" ref="SocVulnTMS-label" class="custom-control-label" for="SocVulnTMS-toggle" id="SocVulnTMS-label">Social Vulnerability</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="CriticalFacilitiesTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Critical Facilities Index Layer" aria-label="Toggle Critical Facilities Index Layer" ref="CriticalFacilitiesTMS-toggle" type="checkbox" class="custom-control-input" id="CriticalFacilitiesTMS-toggle">
          <label title="Critical Facilities Index Layer" aria-label="Toggle Critical Facilities Index Layer" ref="CriticalFacilitiesTMS-label" class="custom-control-label" for="CriticalFacilitiesTMS-toggle" id="CriticalFacilitiesTMS-label">Critical Facilities</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="CriticalInfrastructureTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Critical Infrastructure Index Layer" aria-label="Toggle Critical Infrastructure Index Layer" ref="CriticalInfrastructureTMS-toggle" type="checkbox" class="custom-control-input" id="CriticalInfrastructureTMS-toggle">
          <label title="Critical Infrastructure Index Layer" aria-label="Toggle Critical Infrastructure Index Layer" ref="CriticalInfrastructureTMS-label" class="custom-control-label" for="CriticalInfrastructureTMS-toggle" id="CriticalInfrastructureTMS-label">Critical Infrastructure</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div class="LayerList-spacer" id="ThreatsInputs-Header"></div>
      <div class="LayerInput-header" id="ThreatsInputs-Header">Threat Index Inputs</div>

      <div ref="LayerInput" id="DrainageTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Drainage Density Layer" aria-label="Toggle Drainage Density Layer" ref="DrainageTMS-toggle" type="checkbox" class="custom-control-input" id="DrainageTMS-toggle">
          <label title="Drainage Density Layer" aria-label="Toggle Drainage Density Layer" ref="DrainageTMS-label" class="custom-control-label" for="DrainageTMS-toggle" id="DrainageTMS-label">Drainage</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="ErosionTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Erosion Index Layer" aria-label="Toggle Erosion Index Layer" ref="ErosionTMS-toggle" type="checkbox" class="custom-control-input" id="ErosionTMS-toggle">
          <label title="Erosion Index Layer" aria-label="Toggle Erosion Index Layer" ref="ErosionTMS-label" class="custom-control-label" for="ErosionTMS-toggle" id="ErosionTMS-label">Erosion Vulnerability</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="FloodProneAreasTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Flood Prone Areas Index Layer" aria-label="Toggle Flood Prone Areas Index Layer" ref="FloodProneAreasTMS-toggle" type="checkbox" class="custom-control-input" id="FloodProneAreasTMS-toggle">
          <label title="Flood Prone Areas Index Layer" aria-label="Toggle Flood Prone Areas Index Layer" ref="FloodProneAreasTMS-label" class="custom-control-label" for="FloodProneAreasTMS-toggle" id="FloodProneAreasTMS-label">Flood Prone Areas</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="SLRTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Sea Level Rise Index Layer" aria-label="Toggle Sea Level Rise Index Layer" ref="SLRTMS-toggle" type="checkbox" class="custom-control-input" id="SLRTMS-toggle">
          <label title="Sea Level Rise Index Layer" aria-label="Toggle Sea Level Rise Index Layer" ref="SLRTMS-label" class="custom-control-label" for="SLRTMS-toggle" id="SLRTMS-label">Sea Level Rise Facilities</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="StormSurgeTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Storm Surge Index Layer" aria-label="Toggle Storm Surge Index Layer" ref="StormSurgeTMS-toggle" type="checkbox" class="custom-control-input" id="StormSurgeTMS-toggle">
          <label title="Storm Surge Index Layer" aria-label="Toggle Storm Surge Index Layer" ref="StormSurgeTMS-label" class="custom-control-label" for="StormSurgeTMS-toggle" id="StormSurgeTMS-label">Storm Surge</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="GeoStressTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Geo Stressors Index Layer" aria-label="Toggle Geo Stressors Index Layer" ref="GeoStressTMS-toggle" type="checkbox" class="custom-control-input" id="GeoStressTMS-toggle">
          <label title="Geo Stressors Index Layer" aria-label="Toggle Geo Stressors Index Layer" ref="GeoStressTMS-label" class="custom-control-label" for="GeoStressTMS-toggle" id="GeoStressTMS-label">Geo Stressors</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

      <div ref="LayerInput" id="SlopeTMS-layerToggle" class="custom-control custom-checkbox">
        <div class="layer-toggle-wrapper">
          <input title="Slope Index Layer" aria-label="Toggle Slope Index Layer" ref="SlopeTMS-toggle" type="checkbox" class="custom-control-input" id="SlopeTMS-toggle">
          <label title="Slope Index Layer" aria-label="Toggle Slope Index Layer" ref="SlopeTMS-label" class="custom-control-label" for="SlopeTMS-toggle" id="SlopeTMS-label">Areas of Low Slope</label>
          <span title="Open" aria-label="Open" class="float-right text-center layer-legend-toggler closed">
            <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
          </span>
          <span title="" aria-label="Show layer description" class="float-right text-center layer-description-text" data-toggle="tooltip" data-placement="top">
            <i title="" aria-label="Show layer description" class="fas fa-info"></i>
          </span>
        </div>
        <div class="layer-legend-wrapper closed">
          <div class="layer-legend"></div>
        </div>
      </div>

    </div>
  </div>
</div>
