<div ref="maplayers_list" class="maplayers_list">
  <div id="map_info_list_collapse" ref="map_info_list_collapse" class="map_info_list map_info_list_collapse d-none">
    <h5>Map Layers
      <span title="Open" aria-label="Open" id="maplayers_list_open" class="float-right text-center">
        <i title="Open" aria-label="Open" class="fas fa-angle-down"></i>
      </span>
    </h5>
  </div>
  <div class="toggle-list" id="maplayers_list_opened">
    <h5  >Map Layers
      <span title="Close Map Layer List" aria-label="Close Map Layer List" id="maplayers_list_close" class="float-right text-center" >
        <i title="Close Map Layer List" aria-label="Close Map Layer List" class="fas fa-times"></i>
      </span>
    </h5>
    <hr />
    <div ref="ToggleLayers" id="ToggleLayerList" class="layer-toggles">

      <div class="LayerInput-header" id="HubsLayers-Header" >Hubs</div>
      <!-- <div ref="LayerInput" id="SA_HubsPreliminary-layerToggle" class="custom-control custom-checkbox">
        <input title="Toggle Hubs" aria-label="Toggle Hubs" ref="SA_HubsPreliminaryPreliminary-toggle" type="checkbox" class="custom-control-input" id="SA_HubsPreliminary-toggle">
        <label title="Toggle Hubs" aria-label="Toggle Hubs" ref="SA_HubsPreliminary-label" class="custom-control-label" for="SA_HubsPreliminary-toggle" id="SA_HubsPreliminary-label">Hubs (preliminary)</label>
      </div> -->
      <div ref="LayerInput" id="HubsTMS-layerToggle" class="custom-control custom-checkbox">
        <input title="Toggle HubsTMS" aria-label="Toggle HubsTMS" ref="HubsTMS-toggle" type="checkbox" class="custom-control-input" id="HubsTMS-toggle">
        <label title="Toggle HubsTMS" aria-label="Toggle HubsTMS" ref="HubsTMS-label" class="custom-control-label" for="HubsTMS-toggle" id="HubsTMS-label">Hubs</label>
      </div>


      <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

      <!-- <div class="row offset-1 layerList-sub-group"> -->
      <div class="LayerInput-header" id="ExposureLayers-Header" >Asset and Threat</div>
      <div ref="LayerInput" id="AssetsTMS-layerToggle" class="custom-control custom-checkbox">
        <input title="Toggle Asset Layer" aria-label="Toggle Asset Layer" ref="AssetsTMS-toggle" type="checkbox" class="custom-control-input" id="AssetsTMS-toggle">
        <label title="Toggle Asset Layer" aria-label="Toggle Asset Layer" ref="AssetsTMS-label" class="custom-control-label" for="AssetsTMS-toggle" id="AssetsTMS-label">Asset Index</label>
      </div>
      <div ref="LayerInput" id="ThreatsTMS-layerToggle" class="custom-control custom-checkbox">
        <input title="Toggle Threat Layer" aria-label="Toggle Threat Layer" ref="ThreatsTMS-toggle" type="checkbox" class="custom-control-input" id="ThreatsTMS-toggle">
        <label title="Toggle Threat Layer" aria-label="Toggle Threat Layer" ref="ThreatsTMS-label" class="custom-control-label" for="ThreatsTMS-toggle" id="ThreatsTMS-label">Threat Index</label>
      </div>
    <!-- </div> -->

    <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

    <div class="LayerInput-header" id="ExposureLayers-Header" >Exposure</div>
    <!-- <div ref="LayerInput" id="SA_ExposureIndex-layerToggle" class="custom-control custom-checkbox">
      <input title="Threat Exposure Index Layer" aria-label="Toggle Exposure Index Layer" ref="SA_ExposureIndex-toggle" type="checkbox" class="custom-control-input" id="SA_ExposureIndex-toggle">
      <label title="Threat Exposure Index Layer" aria-label="Toggle Explore Index Layer" ref="SA_ExposureIndex-label" class="custom-control-label" for="SA_ExposureIndex-toggle" id="SA_ExposureIndex-label">Exposure Index</label>
    </div> -->
    <div ref="LayerInput" id="ExposureTMS-layerToggle" class="custom-control custom-checkbox">
      <input title="Community Exposure Index Layer" aria-label="Toggle Community Exposure Index Layer" ref="ExposureTMS-toggle" type="checkbox" class="custom-control-input" id="ExposureTMS-toggle">
      <label title="Community Exposure Index Layer" aria-label="Toggle Community Explore Index Layer" ref="ExposureTMS-label" class="custom-control-label" for="ExposureTMS-toggle" id="ExposureTMS-label">Community Exposure Index</label>
    </div>

    <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

      <div class="LayerInput-header" id="FishnWildlife-Header" >Fish and Wildlife</div>
      <div ref="LayerInput" id="AquaticTMS-layerToggle" class="custom-control custom-checkbox">
        <input title="Aquatic Index Layer" aria-label="Toggle Aquatic Index Layer" ref="AquaticTMS-toggle" type="checkbox" class="custom-control-input" id="AquaticTMS-toggle">
        <label title="Aquatic Index Layer" aria-label="Toggle Aquatic Index Layer" ref="AquaticTMS-label" class="custom-control-label" for="AquaticTMS-toggle" id="AquaticTMS-label">Aquatic Index</label>
      </div>
      <div ref="LayerInput" id="TerrestrialTMS-layerToggle" class="custom-control custom-checkbox">
        <input title="Terrestrial Index Layer" aria-label="Toggle Terrestrial Index Layer" ref="TerrestrialTMS-toggle" type="checkbox" class="custom-control-input" id="TerrestrialTMS-toggle">
        <label title="Terrestrial Index Layer" aria-label="Toggle Terrestrial Index Layer" ref="TerrestrialTMS-label" class="custom-control-label" for="TerrestrialTMS-toggle" id="TerrestrialTMS-label">Terrestrial Index</label>
      </div>
    </div>
  </div>
</div>
