<div ref="maplayers_list" class="maplayers_list">
  <div class="toggle-list">
    <h5>Map Layers</h5>
    <hr />
    <div ref="ToggleLayers" id="ToggleLayerList" class="layer-toggles">

      <div class="LayerInput-header" id="HubsLayers-Header" >Hubs (Preliminary)</div>
      <div ref="LayerInput" id="SA_HubsPreliminary-layerToggle" class="custom-control custom-checkbox">
        <input ref="SA_HubsPreliminaryPreliminary-toggle" type="checkbox" class="custom-control-input" id="SA_HubsPreliminary-toggle">
        <label ref="SA_HubsPreliminary-label" class="custom-control-label" for="SA_HubsPreliminary-toggle" id="SA_HubsPreliminary-label">Hubs (preliminary)</label>
      </div>

      <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

      <div class="LayerInput-header" id="ExposureLayers-Header" >Exposure</div>
      <div ref="LayerInput" id="SA_ExposureIndex-layerToggle" class="custom-control custom-checkbox">
        <input ref="SA_ExposureIndex-toggle" type="checkbox" class="custom-control-input" id="SA_ExposureIndex-toggle">
        <label ref="SA_ExposureIndex-label" class="custom-control-label" for="SA_ExposureIndex-toggle" id="SA_ExposureIndex-label">Exposure Index</label>
      </div>

      <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

      <!-- <div class="row offset-1 layerList-sub-group"> -->
      <div class="LayerInput-header" id="ExposureLayers-Header" >Asset and Threat</div>
      <div ref="LayerInput" id="SA_AssetIndex-layerToggle" class="custom-control custom-checkbox">
        <input ref="SA_AssetIndex-toggle" type="checkbox" class="custom-control-input" id="SA_AssetIndex-toggle">
        <label ref="SA_AssetIndex-label" class="custom-control-label" for="SA_AssetIndex-toggle" id="SA_AssetIndex-label">Asset Index</label>
      </div>
      <div ref="LayerInput" id="SA_ThreatIndex-layerToggle" class="custom-control custom-checkbox">
        <input ref="SA_ThreatIndex-toggle" type="checkbox" class="custom-control-input" id="SA_ThreatIndex-toggle">
        <label ref="SA_ThreatIndex-label" class="custom-control-label" for="SA_ThreatIndex-toggle" id="SA_ThreatIndex-label">Threat Index</label>
      </div>
    <!-- </div> -->

    <div class="LayerList-spacer" id="ExposureLayers-Header" ></div>

      <div class="LayerInput-header" id="FishnWildlife-Header" >Fish and Wildlife</div>
      <div ref="LayerInput" id="SA_AquaticIndex-layerToggle" class="custom-control custom-checkbox">
        <input ref="SA_AquaticIndex-toggle" type="checkbox" class="custom-control-input" id="SA_AquaticIndex-toggle">
        <label ref="SA_AquaticIndex-label" class="custom-control-label" for="SA_AquaticIndex-toggle" id="SA_AquaticIndex-label">Aquatic Index</label>
      </div>
      <div ref="LayerInput" id="SA_TerrestrialIndex-layerToggle" class="custom-control custom-checkbox">
        <input ref="SA_TerrestrialIndex-toggle" type="checkbox" class="custom-control-input" id="SA_TerrestrialIndex-toggle">
        <label ref="SA_TerrestrialIndex-label" class="custom-control-label" for="SA_TerrestrialIndex-toggle" id="SA_TerrestrialIndex-label">Terrestrial Index</label>
      </div>
    </div>
  </div>
</div>
