<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navbar-toggle">
   <a class="navbar-brand" href="#">NFWF Coastal Resilience Assessment</a>
  <button class="navbar-toggler bnt-main-navbar-toggle" type="button" data-toggle="collapse" data-target="#mainNavToggle" aria-controls="mainNavToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavToggle">
    <nav class="navbar-nav mr-auto mt-2 mt-lg-0""  id="main-nav" >
    </nav>
  </div>
</nav>
