<nav class="navbar navbar-expand-lg navbar-dark main-navbar-toggle">
  <!-- <img id="NFWF-Logo-Title-brand" class="align-self-center mr-3" src="../images/nfwf_logo_round.png" alt="NFWF Logo"> -->
   <a class="navbar-brand" href="#">Coastal Resilience Assessment and Siting Tool</a>
  <button class="navbar-toggler bnt-main-navbar-toggle" type="button" data-toggle="collapse" data-target="#mainNavToggle" aria-controls="mainNavToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNavToggle">
    <nav class="navbar-nav mr-auto mt-2 mt-lg-0""  id="main-nav" >
    </nav>
  </div>
</nav>
