<div class="entry">
  <div class="row">
    <div class="col-6 col-md-4"></div>
    <div class="col-6 col-md-4 align-self-center text-center">
      <h1 class="not-found"> 404</h1>
      <div class="alert alert-light" role="alert">
        <p class="not-found">
          This is not the page your are looking for. Please head back to the
          <a href="/map" class="alert-link" data-navigo>assessment map</a>.
        </p>
    </div>
    </div>
    <div class="col-6 col-md-4"></div>
  </div>
</div>
