<div class="container-fluid d-flex flex-column">
  <div class="row justify-content-center">
    <div class="col-6 align-self-center">
      <h1 class="not-found">OOPS!</h1>
      <div class="">
        <p class="not-found">
          We can't seem to find the page you are looking for.
        </p>

        <p class="not-found">
          Here are some links to try instead:
        </p>

        <div class="list-group not-found">
          <a ref="main_nav_index" class="list-group-item list-group-item-action not-found" href="/#Home" data-navigo>Home</a>
          <a ref="main_nav_download" class="list-group-item list-group-item-action not-found" href="/#Download" data-navigo>Download Data</a>
          <a ref="main_nav_about" class="list-group-item list-group-item-action not-found" href="/#About" data-navigo>About the Assessment</a>
        </div>
      </div>
    </div>
  </div>
</div>
