<div ref="searchlocations_list" id="searchlocations_list" class="searchlocations_list">
  <div class="toggle-list">
    <div class="flex-fill h-100" >
      <div class="sticky-top">
        <h5>Search Location</h5>
        <hr />
      </div>
    </div>
    <div class="LayerList-spacer" id="searchlocationsdata" ></div>
    <div ref="searchlocationsdata" id="searchlocationsdata" class="text-left d-flex w-100 searchlocationsdata">
      <div class="searchlocationsdata-content" id="searchlocations-content" >Location Unknown</div>
    <div>

    </div>
  </div>
</div>
