<div ref="searchlocations_list" id="searchlocations_list" class="searchlocations_list">
  <div class="toggle-list h-100">
    <div class="flex-fill h-100" >
      <div class="sticky-top">
        <h5>Search Location</h5>
        <hr />
      </div>
    </div>
    <div class="LayerList-spacer" id="searchlocationsdata" ></div>
    <div ref="searchlocationsdata" id="searchlocationsdata" class="text-left d-flex w-100 searchlocationsdata">
      <div title="Location" aria-label="Location" class="searchlocationsdata-content" id="searchlocations-content" >Location Unknown</div>
    </div>
    <div id="searchlocations-buttons">
        <button id="i-btn" title="Map Information" aria-label="Map Information" type="button" class="btn btn-sm btn-light i-btn"><i class="fas fa-info"></i></button>
        <button id="e-btn" title="Explore Details" aria-label="Explore Details" type="button" class="btn btn-sm btn-light e-btn">Explore</button>
    </div>
  </div>
