<!-- <div id="searchlocations-content" ref="searchlocations-content" class="searchlocations-content">test</div> -->
<div ref="map_info_list" id="map_info_list" class="map_info_list">
  <div class="toggle-list">
    <div class="flex-fill h-100" >
      <div class="sticky-top">
        <h5>Search Location</h5>
        <hr />
      </div>
    </div>

    <div ref="searchlocationsdata" id="searchlocationsdata" class="text-left searchlocationsdata">
      <div class="searchlocationsdata-header" id="searchlocations-Header" >Location Unknown</div>
    </div>

  </div>
</div>
