<span id="has-shape-holder" class="row w-100 d-none">
  <div class="row d-flex w-100">
    <div class="col-6 action-bnt-row button-1 d-flex w-100">
      <button id="btn-clear-area" title="Clear Areas on Map" aria-label="Clear Areas on Map" type="button" class="btn btn-light btn-secondary btn-box user-shape text-danger btn-clear-area"><span class="btn-icon"><i class="far fa-trash-alt"></i></span><span class="btn-med-label">Remove all</span><span class="btn-lg-label"> areas</span></button>
    </div>
    <div class="col-6 action-bnt-row button-2 d-flex w-100">
      <button id="btn-update-zonal-stats" title="Update Statistics" aria-label="Update Statistics" type="button" class="btn btn-light btn-secondary btn-box user-shape btn-clear-area"><span class="btn-icon"><i class="fas fa-sync-alt"></i></span><span class="btn-med-label">Refresh</span><span class="btn-lg-label"> </span></button>
    </div>
  </div>
</span>
