<span id="has-shape-holder" class="row w-100 d-none">
  <div class="row d-flex w-100">
    <div class="col-4 action-bnt-row button-2 d-flex w-100">
      <button id="btn-download-all-zonal-stats" title="download" aria-label="download" type="button" class="btn btn-light btn-secondary btn-box user-shape btn-download-all-zonal-stats"><span class="btn-icon"><i class="fas fa-download"></i></span><span class="btn-med-label">Download</span><span class="btn-lg-label"> </span></button>
    </div>
    <div class="col-4 action-bnt-row button-2 d-flex w-100">
      <button id="btn-update-zonal-stats" title="Refresh" aria-label="Refresh" type="button" class="btn btn-light btn-secondary btn-box user-shape btn-clear-area"><span class="btn-icon"><i class="fas fa-sync-alt"></i></span><span class="btn-med-label">Refresh</span><span class="btn-lg-label"> </span></button>
    </div>
    <div class="col-4 action-bnt-row button-1 d-flex w-100">
      <button id="btn-clear-area" title="Remove All Areas" aria-label="Remove All Areas" type="button" class="btn btn-light btn-secondary btn-box user-shape text-danger btn-clear-area"><span class="btn-icon"><i class="far fa-trash-alt"></i></span><span class="btn-med-label">Remove All</span><span class="btn-lg-label"> Areas</span></button>
    </div>
  </div>
</span>
