<div id="shareurl-holder" class="nothing">
  <input id="shareurltextarea" title="copy share" aria-label="share url" class="form-control" readonly="">
  <button id="btn-icon" aria-label="copy share url" title="copy share url" class="btn-copy-share">
    <i class="fas fa-copy btn-copy-share-icon"></i>
    <span class="btn-med-label btn-copy-share-text">Copy URL</span>
  </button>
  <button id="btn-icon" aria-label="close copy share url" title="close copy share url" class="btn-close-share">
    <i class="fas fa-angle-double-left "></i>
  </button>
</div>
