<div id="zonal-header">
  <!-- <div class="zonal-header-item zonal-header-remove"><div class="zonal-header-item-top">&nbsp;</div></div>
  <div class="zonal-header-item zonal-header-details"><div class="zonal-header-item-top">Details</div></div>
  <div class="zonal-header-item zonal-header-hub"><div class="zonal-header-item-top">Hub</div></div>
  <div class="zonal-header-item zonal-header-fish-wildlife"><div class="zonal-header-item-top">Fish and Wildlife</div><div class="zonal-header-item-bottom"><div class="zonal-header-item-label">Aquatic</div><div class="zonal-header-item-label">Terrestrial</div></div></div>
  <div class="zonal-header-item zonal-header-exposure"><div class="zonal-header-item-top">Exposure</div><div class="zonal-header-item-bottom"><div class="zonal-header-item-label">Asset</div><div class="zonal-header-item-label">Threat</div></div></div> -->
</div>
<div id="zonal-content"></div>
