<div class="zonal-long-dismiss-wrapper">
  <button class="zonal-long-dismiss">Return to Overview</button>
</div>

<div class="zonal-long-hub-wrapper">
  <div class="zonal-long-hub">
    <h5>Hub Indexes</h5>
    <div class="zonal-long-table-index">
      <h6>Hub Ranking</h6>
      <div class="zonal-long-table zonal-long-table-hub">
        <div class="zonal-long-table-row zonal-long-table-row-header-simple">
          <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
          <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-lowest">1</div>
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-low">2</div>
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-mediumlow">3</div>
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-medium">4</div>
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-mediumhigh">5</div>
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-high">6</div>
          <div class="zonal-long-table-item zonal-long-table-item-hub zonal-long-table-cell-hub-highest">7</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-hub">
          <div class="zonal-long-table-bar zonal-long-table-bar-hub"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="zonal-long-exposure-wrapper">
  <div class="zonal-long-exposure">
    <h5>Exposure Index</h5>
    <div class="zonal-long-table zonal-long-table-exposure">
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-placeholder zonal-long-table-item"></div>
        <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-threat zonal-long-table-item">Low</div>
        <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-threat zonal-long-table-item">Med</div>
        <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-threat zonal-long-table-item">High</div>
      </div>
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-asset zonal-long-table-item">High</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-high zonal-long-table-item">6</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-highest zonal-long-table-item">9</div>
      </div>
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-asset zonal-long-table-item">Med</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-medium zonal-long-table-item">4</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-high zonal-long-table-item">6</div>
      </div>
      <div class="zonal-long-table-row">
        <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-asset zonal-long-table-item">Low</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-lowest zonal-long-table-item">1</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
        <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
      </div>
      <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-exposure">
        <div class="zonal-long-table-bar zonal-long-table-bar-threat zonal-long-table-bar-threat-exposure"></div>
        <div class="zonal-long-table-bar zonal-long-table-bar-asset zonal-long-table-bar-asset-exposure"></div>
      </div>
    </div>
  </div>

  <div class="zonal-long-asset-threat">
    <h5>Asset and Threat Indexes</h5>
    <div class="zonal-long-table-index">
      <h6>Asset Ranking</h6>
      <div class="zonal-long-table zonal-long-table-asset">
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-asset zonal-long-table-item">Low</div>
          <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-asset zonal-long-table-item">Med</div>
          <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-asset zonal-long-table-item">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-cell zonal-long-table-cell-lowest zonal-long-table-item">1</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-asset">
          <div class="zonal-long-table-bar zonal-long-table-bar-asset zonal-long-table-bar-asset-asset"></div>
        </div>
      </div>
    </div>

    <div class="zonal-long-table-index">
      <h6>Threat Ranking</h6>
      <div class="zonal-long-table zonal-long-table-threat">
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-header zonal-long-table-header-low zonal-long-table-header-threat zonal-long-table-item">Low</div>
          <div class="zonal-long-table-header zonal-long-table-header-med zonal-long-table-header-threat zonal-long-table-item">Med</div>
          <div class="zonal-long-table-header zonal-long-table-header-high zonal-long-table-header-threat zonal-long-table-item">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-cell zonal-long-table-cell-lowest zonal-long-table-item">1</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-low zonal-long-table-item">2</div>
          <div class="zonal-long-table-cell zonal-long-table-cell-mediumlow zonal-long-table-item">3</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-threat">
          <div class="zonal-long-table-bar zonal-long-table-bar-threat zonal-long-table-bar-threat-threat"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="zonal-long-asset-threat">
    <h5>Drivers of Assets and Threats</h5>
    <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-asset">
      <h6>Assets</h6>
      <div class="zonal-long-graph">
        <div class="zonal-long-graph-content">
          <div class="zonal-long-graph-axis">
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
          </div>
          <div class="zonal-long-graph-steps">
            <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
          </div>
          <div class="zonal-long-graph-bars">
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-population-density"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-social-vulnerability"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-critical-facilities"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-critical-infrastructure"></div>
            </div>
          </div>
        </div>
        <div class="zonal-long-graph-labels">
          <div class="zonal-long-graph-label zonal-long-graph-label-population-density"><div class="zonal-long-graph-label-text">Population Density</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-social-vulnerability"><div class="zonal-long-graph-label-text">Social Vulnerability</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-critical-facilities"><div class="zonal-long-graph-label-text">Critical Facilities</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-critical-infrastructure"><div class="zonal-long-graph-label-text">Critical Infrastructure</div></div>
        </div>
      </div>
    </div>

    <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-threat">
      <h6>Threats</h6>
      <div class="zonal-long-graph">
        <div class="zonal-long-graph-content">
          <div class="zonal-long-graph-axis">
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
          </div>
          <div class="zonal-long-graph-steps">
            <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
          </div>
          <div class="zonal-long-graph-bars">
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-drainage"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-erosion"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-floodprone-areas"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-sea-level-rise"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-storm-surge"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-geostress"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-slope"></div>
            </div>
          </div>
        </div>
        <div class="zonal-long-graph-labels">
          <div class="zonal-long-graph-label zonal-long-graph-label-drainage"><div class="zonal-long-graph-label-text">Drainage</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-erosion"><div class="zonal-long-graph-label-text">Erosion</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-floodprone-areas"><div class="zonal-long-graph-label-text">Flood Prone</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-sea-level-rise"><div class="zonal-long-graph-label-text">Sea Level Rise</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-storm-surge"><div class="zonal-long-graph-label-text">Storm Surge</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-geostress"><div class="zonal-long-graph-label-text">Subsidence Shift</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-slope"><div class="zonal-long-graph-label-text">Slope</div></div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="zonal-long-fish-wildlife-wrapper">
  <div class="zonal-long-fish-wildlife">
    <h5>Fish and Wildlife Indexes</h5>
    <div class="zonal-long-table-index">
      <h6>Aquatic Ranking</h6>
      <div class="zonal-long-table zonal-long-table-fish">
        <div class="zonal-long-table-row zonal-long-table-row-header-simple">
          <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
          <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-fish-lowest">1</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-fish-low">2</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-fish-medium">3</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-fish-high">4</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-fish-highest">5</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-fish">
          <div class="zonal-long-table-bar zonal-long-table-bar-fish"></div>
        </div>
      </div>
    </div>

    <div class="zonal-long-table-index">
      <h6>Terrestrial Ranking</h6>
      <div class="zonal-long-table zonal-long-table-wildlife">
        <div class="zonal-long-table-row zonal-long-table-row-header-simple">
          <div class="zonal-long-table-header-simple zonal-long-table-header-simple-low">Low</div>
          <div class="zonal-long-table-header-simple zonal-long-table-header-simple-high">High</div>
        </div>
        <div class="zonal-long-table-row">
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-wildlife-lowest">1</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-wildlife-low">2</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-wildlife-medium">3</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-wildlife-high">4</div>
          <div class="zonal-long-table-item zonal-long-table-item-fw zonal-long-table-cell-wildlife-highest">5</div>
        </div>
        <div class="zonal-long-table-bar-wrapper zonal-long-table-bar-wrapper-wildlife">
          <div class="zonal-long-table-bar zonal-long-table-bar-wildlife"></div>
        </div>
      </div>
    </div>
  </div>
</div>
