<div class="zonal-short-wrappper active col-12">
  <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-short-chart w-100">

    <span class="default-long-graphs d-none" >
      <!-- <div id="driver-title-summary" class="text-center text-capitalize font-weight-bold pt-3">Summary Chart</div> -->
      <div class="zonal-long-graph zonal-summary-wrapper">
        <div class="chartjs-wrapper">
          <canvas id="" class="d-flex summary-chart"></canvas>
        </div>
      </div>
    </span>
  </div>
</div>
