
<div id="full-table-holder" class="">
  <table id="full-table"  class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Area ID</th>
        <th scope="col">Resilience Hubs range(1 -10)</th>
        <th scope="col">Aquatic Index range(0 - 5)</th>
        <th scope="col">Terrestrial Index range(0 -5)</th>
        <th scope="col">Community Asset Index range(1 -10)</th>
        <th scope="col">Threat Index range(1 - 10)</th>
        <th scope="col">Community Exposure Index range(1 - 10)</th>
        <th scope="col">Population Density range(0 - 5)</th>
        <th scope="col">Social Vulnerability range(0 - 3)</th>
        <th scope="col">Critical Facilities range(0 or 5)</th>
        <th scope="col">Critical Infrastructure range(0 - 6)</th>
        <th scope="col">Impermeable Soils range(0 - 5)</th>
        <th scope="col">Soil Erodibility range(0 - 5)</th>
        <th scope="col">Flood-Prone Areas range(0 - 5)</th>
        <th scope="col">Sea Level Rise range(0 - 5)</th>
        <th scope="col">Storm Surge range(0 - 5)</th>
        <th scope="col">Geological Stressors range(0 - 3)</th>
        <th scope="col">Areas of Low Slope range(0 - 5)</th>
      </tr>
    </thead>
    <tbody id="table-data" >
      <tr id="table-row-holder">
        <td class="zonal-long-raw-value-areaid">N/A</td>
        <td class="zonal-long-raw-value-hubs">N/A</td>
        <td class="zonal-long-raw-value-aquatic">N/A</td>
        <td class="zonal-long-raw-value-terrestrial">N/A</td>
        <td class="zonal-long-raw-value-asset">N/A</td>
        <td class="zonal-long-raw-value-threats">N/A</td>
        <td class="zonal-long-raw-value-exposure">N/A</td>
        <td class="zonal-long-raw-value-population-density">N/A</td>
        <td class="zonal-long-raw-value-social-vulnerability">N/A</td>
        <td class="zonal-long-raw-value-critical-facilities">N/A</td>
        <td class="zonal-long-raw-value-critical-infrastructure">N/A</td>
        <td class="zonal-long-raw-value-drainage">N/A</td>
        <td class="zonal-long-raw-value-erosion">N/A</td>
        <td class="zonal-long-raw-value-floodprone-areas">N/A</td>
        <td class="zonal-long-raw-value-sea-level-rise">N/A</td>
        <td class="zonal-long-raw-value-storm-surge">N/A</td>
        <td class="zonal-long-raw-value-geostress">N/A</td>
        <td class="zonal-long-raw-value-slope">N/A</td>
      </tr>
    </tbody>
  </table>
</div>
