
<div id="full-table-holder" class="">
  <table id="full-table"  class="table table-responsive">
    <thead>
      <tr>
        <th scope="col">Area ID</th>
        <th scope="col">Resilience Hubs</th>
        <th scope="col">Aquatic Index</th>
        <th scope="col">Terrestrial Index</th>
        <th scope="col">Community Exposure Index</th>
        <th scope="col">Community Asset Index</th>
        <th scope="col">Threat Index</th>
        <!-- <th scope="col">Population Density</th>
        <th scope="col">Social Vulnerability</th>
        <th scope="col">Critical Facilities</th>
        <th scope="col">Critical Infrastructure</th>
        <th scope="col">Drainage</th>
        <th scope="col">Erosion</th>
        <th scope="col">Flood Prone Areas</th>
        <th scope="col">Sea Level Rise</th>
        <th scope="col">Storm Surge</th>
        <th scope="col">Geo Stressors</th>
        <th scope="col">Areas of Low Slope</th> -->
      </tr>
    </thead>
    <tbody id="table-data" >
      <tr id="table-row-holder">
        <td class="zonal-long-raw-value-areaid">N/A</td>
        <td class="zonal-long-raw-value-hubs">N/A</td>
        <td class="zonal-long-raw-value-aquatic">N/A</td>
        <td class="zonal-long-raw-value-terrestrial">N/A</td>
        <td class="zonal-long-raw-value-exposure">N/A</td>
        <td class="zonal-long-raw-value-asset">N/A</td>
        <td class="zonal-long-raw-value-threats">N/A</td>
        <!-- <td class="zonal-long-raw-value-population-density">N/A</td>
        <td class="zonal-long-raw-value-social-vulnerability">N/A</td>
        <td class="zonal-long-raw-value-critical-facilities">N/A</td>
        <td class="zonal-long-raw-value-critical-infrastructure">N/A</td>
        <td class="zonal-long-raw-value-drainage">N/A</td>
        <td class="zonal-long-raw-value-erosion">N/A</td>
        <td class="zonal-long-raw-value-floodprone-areas">N/A</td>
        <td class="zonal-long-raw-value-sea-level-rise">N/A</td>
        <td class="zonal-long-raw-value-storm-surge">N/A</td>
        <td class="zonal-long-raw-value-geostress">N/A</td>
        <td class="zonal-long-raw-value-slope">N/A</td> -->
      </tr>
    </tbody>
  </table>
</div>
