<div class="zonal-short-wrappper active col-12">
  <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-short-chart w-100">
    <!-- <h6>Basic Information</h6> -->
    <div class="zonal-long-graph zonal-summary-wrapper">
      <div class="zonal-long-graph-content">
        <div class="zonal-long-graph-axis">
          <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
          <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
        </div>
        <div class="zonal-long-graph-steps">
          <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
          <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
          <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
          <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
        </div>
        <div class="zonal-long-graph-bars">
          <div class="zonal-long-graph-bar-wrapper">
            <div class="zonal-long-graph-bar zonal-long-graph-bar-hubs"></div>
          </div>
          <div class="zonal-long-graph-bar-wrapper">
            <div class="zonal-long-graph-bar zonal-long-graph-bar-aquatic"></div>
          </div>
          <div class="zonal-long-graph-bar-wrapper">
            <div class="zonal-long-graph-bar zonal-long-graph-bar-terrestrial"></div>
          </div>
          <div class="zonal-long-graph-bar-wrapper">
            <div class="zonal-long-graph-bar zonal-long-graph-bar-exposure"></div>
          </div>
          <div class="zonal-long-graph-bar-wrapper">
            <div class="zonal-long-graph-bar zonal-long-graph-bar-asset"></div>
          </div>
          <div class="zonal-long-graph-bar-wrapper">
            <div class="zonal-long-graph-bar zonal-long-graph-bar-threat"></div>
          </div>
        </div>
      </div>
      <div class="zonal-long-graph-labels">
        <div class="zonal-long-graph-label zonal-long-graph-label-hubs"><div class="zonal-long-graph-label-text">Hubs</div></div>
        <div class="zonal-long-graph-label zonal-long-graph-label-aquatic"><div class="zonal-long-graph-label-text">Aquatic</div></div>
        <div class="zonal-long-graph-label zonal-long-graph-label-terrestrial"><div class="zonal-long-graph-label-text">Terrestrial</div></div>
        <div class="zonal-long-graph-label zonal-long-graph-label-exposure"><div class="zonal-long-graph-label-text">Exposure</div></div>
        <div class="zonal-long-graph-label zonal-long-graph-label-asset"><div class="zonal-long-graph-label-text">Asset</div></div>
        <div class="zonal-long-graph-label zonal-long-graph-label-threat"><div class="zonal-long-graph-label-text">Threat</div></div>
      </div>
    </div>
  </div>
