<div class="zonal-long-button-wrapper d-none">
  <div class="d-flex w-100 zonal-long-buttons-holder">
    <button title="Back to Overview" aria-label="Back to Overview" class="btn-light zonal-long-button zonal-long-button-dismiss"><span class="btn-icon" id="btn-details-icon" ><i class="fas fa-list-ol"></i></span>Overview</button>
    <button title="View table" aria-label="View table" class="btn-light zonal-long-button zonal-long-button-raw"><span class="btn-icon" id="btn-details-icon" ><i class="far fa-list-alt"></i></span>Table</button>
    <button title="View graphs" aria-label="View graphs" class="btn-light zonal-long-button zonal-long-button-graphs"><span class="btn-icon" id="btn-details-icon" ><i class="far fa-chart-bar"></i></span>Graphs</button>
  </div>
  <div class="d-flex w-100">
    <h3 id="zonal-long-name" ></h3>
  </div>
</div>

<div class="zonal-long-graphs">

  <div id="driver-title-summary" class="text-center text-capitalize font-weight-bold pt-3">Summary Chart</div>
  <div class="chartjs-wrapper">
    <canvas id="" class="d-flex summary-chart-details"></canvas>
  </div>

  <div id="driver-charts-holder" class="">
  </div>
</div>

<div class="zonal-long-raw-values">
  <table class="table table-responsive table-rawdata">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Value</th>
        <th scope="col">Range(s)</th>
      </tr>
    </thead>
    <tbody class="body-rawdata">
    </tbody>
  </table>
</div>
