<div class="zonal-short-wrappper active col-12">

  <div class="zonal-long-graph-wrapper zonal-long-graph-wrapper-short-chart w-100">

    <span class="default-long-graphs d-none" >
      <div class="zonal-long-graph zonal-summary-wrapper">
        <div class="zonal-long-graph-content">
          <div class="zonal-long-graph-axis">
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
          </div>
          <div class="zonal-long-graph-steps">
            <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
          </div>
          <div class="zonal-long-graph-bars">
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-hubs"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-wildlife"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-exposure"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-asset"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-threat"></div>
            </div>
          </div>
        </div>
        <div class="zonal-long-graph-labels">
          <div class="zonal-long-graph-label zonal-long-graph-label-hubs"><div class="zonal-long-graph-label-text">Resilience Hubs</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-wildlife"><div class="zonal-long-graph-label-text">Wildlife</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-exposure"><div class="zonal-long-graph-label-text">Community Exposure</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-asset"><div class="zonal-long-graph-label-text">Asset</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-threat"><div class="zonal-long-graph-label-text">Threat</div></div>
        </div>
      </div>
    </span>

    <span class="ns-long-graphs d-none" >
      <div class="zonal-long-graph zonal-summary-wrapper">
        <div class="zonal-long-graph-content">
          <div class="zonal-long-graph-axis">
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-high">High</div>
            <div class="zonal-long-graph-axis-label zonal-long-graph-axis-label-low">Low</div>
          </div>
          <div class="zonal-long-graph-steps">
            <div class="zonal-long-graph-step zonal-long-graph-step-1"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-2"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-3"></div>
            <div class="zonal-long-graph-step zonal-long-graph-step-4"></div>
          </div>
          <div class="zonal-long-graph-bars">
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-ns_hubs"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-ns_fishandwildlife"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-ns_exposure"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-ns_asset"></div>
            </div>
            <div class="zonal-long-graph-bar-wrapper">
              <div class="zonal-long-graph-bar zonal-long-graph-bar-ns_threat"></div>
            </div>
          </div>
        </div>
        <div class="zonal-long-graph-labels">
          <div class="zonal-long-graph-label zonal-long-graph-label-ns-hubs"><div class="zonal-long-graph-label-text">Hubs</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-ns-fishandwildlife"><div class="zonal-long-graph-label-text">Fish and Wildlife</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-ns-exposure"><div class="zonal-long-graph-label-text">Exposure</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-ns-asset"><div class="zonal-long-graph-label-text">Asset</div></div>
          <div class="zonal-long-graph-label zonal-long-graph-label-ns-threat"><div class="zonal-long-graph-label-text">Threat</div></div>
        </div>
      </div>
    </span>


  </div>
</div>
