// Your variable overrides
$body-bg:    $gray-800;
$body-color: $gray-200;
$body-color-visited: $gray-400;
$margin: 10px;
$padding: 10px;

.alert-light {
  background-color: $body-color;
  color: $body-bg;
}

.alert-link {
  color: $body-bg;
}


h1.not-found {
    font-size: 6.5rem;
}

p.not-found {
   font-size: 2.5rem;
}

html, body {
    height: 100%;
}

body {
  background-color: $body-bg;
  color: $body-color;
}

.flex-fill {
  flex:1 1 auto;
}

.map-row {
    padding-bottom: $padding;
}

hr {
  border-top: 1px solid rgba(233, 236, 241, 0.75);
}

.sideheading {
  background-color:  $body-bg;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color:  $body-bg;
  border-radius: 0.25rem;
  transform: scale(2);
}
.custom-control-input:active ~ .custom-control-label::before {
  background-color: $body-color;
  border: 2px solid $body-color;
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  #top-bar{
    padding-bottom: ($padding + 5 ) * 2;
  }

}

#nav-holder {
  margin-bottom: $margin;
}

a.nav-link.active {
  color: $body-color;
  border-bottom: 3px solid $gray-200;
  margin-bottom: $margin;
  margin-left: $margin;
  margin-right: $margin;
  padding-bottom: 5px;
}

a.nav-link {
  color: $body-color;
  border-bottom: 1px solid $gray-200;
  margin-bottom: $margin;
  margin-left: $margin;
  margin-right: $margin;
  padding-bottom: 5px;
}


#explore-holder {
  overflow: scroll;
}
