// $fa-font-path: "~font-awesome/fonts/";
// @import "~font-awesome/scss/font-awesome";


// Your variable overrides
$body-bg:    $gray-800;
$body-color: $gray-200;
$body-color-visited: $gray-400;
$body-color-medium: $gray-600;
$margin: 10px;
$padding: 10px;
$body-bg-semiTransparent:    rgba(53, 59, 65, .8); // $gray-800
$body-bg-semiTransparent9:    rgba(53, 59, 65, .9); // $gray-800

html, body {
    height: 100%;
}

.userarealabel {
  color: $gray-200;
  font-size: 1.5em;
  font-weight: 700;
  background-color:  rgba(0,0,0,0);
  border-width: 0px;
  box-shadow:  0 0px 0px rgba(0,0,0,0)
}

.path-highlight {
  fill: $yellow;
  stroke: $yellow;
  stroke-width: 5;
}

.path-nohighlight {
  fill: #99c3ff;
  stroke: #99c3ff;
  stroke-width: 3;
}

.path-highlight-perm {
  fill: $yellow;
  stroke: $yellow;
  stroke-width: 5;
}

.path-nohighlight-perm {
  fill: #99c3ff;
  stroke: #99c3ff;
  stroke-width: 3;
}


.label-name-highlight {
  // color: $yellow;
  font-weight: 900;
}

.label-name-nohighlight {
  color: $body-color;
  font-weight: normal;
}

.btn-file {
    width: 0.001px;
    height: 0.001px;
    opacity: 0;
    padding: 0px !important;
    border-width: 0px !important;
    margin: 0px !important;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn-file-label {
  margin-bottom: 5px !important
}

.geocoder-control-suggestions .geocoder-control-suggestion {
  background-color: $body-color;
  color: $body-bg;
  border-color: $body-bg;
}

.geocoder-control-suggestions .geocoder-control-suggestion.geocoder-control-selected,
.geocoder-control-suggestions .geocoder-control-suggestion:hover {
  background: $body-bg;
  color: $body-color;
  border-color: $body-color;
}

.btn-search-locations-collapse-holder {
  width: 30px;
  height: 30px;
  position: relative;
  left: 275px;
  bottom: 0px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-left: 2px;
  vertical-align: middle !important;
  align-items: center !important;
}

.btn-search-locations-collapse {
  width: 30px !important;
  height: 30px !important;
  padding: 5px;
  background-color: #fff;
  vertical-align: middle !important;
  align-items: center !important;
  font-size: .5em;
  line-height: 30px;
  background-size: 30px;
  color: $gray-700;
  color: $body-bg;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
}


.leaflet-editing-icon {
    max-width: 10px;
    max-height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin-left: -5px !important;
    margin-top: -5px !important;
    background-color: $body-color;
    border: solid 1px $body-bg;
}

.leaflet-marker-icon-first {
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-left: -10px !important;
  margin-top: -10px !important;
  background-color: $success;
  border: solid 1px $teal;
}

.leaflet-draw-tooltip {
  display:inline-block;
  white-space: nowrap;
  width: min-content;
  background-color: $body-bg-semiTransparent;
  color: $body-color;
  padding-left: 15px;
  z-index: 10000000000;
  font-size: 1.25em;
}

.leaflet-draw-tooltip span {
  display:inline-block;
}

.leaflet-working {
  z-index: 9000;
  font-size: 2.5em;
  color: $body-color;
  mix-blend-mode: difference;
}

#tab-main-nav-map {
  min-height: 0px;
}

#main-content {
  min-height: 0px;
}

#main {
  min-height: 0px;
}

.btn-light {
  background-color:  $body-color;
  color: $body-bg;
  padding: 4px 4px;
  box-shadow: 0 0 1.5px 1.5px rgba(150, 150, 150, .9);
}


.btn-icon:after {
    content:"\000A";
    white-space: pre;
}

// .explore-btns {
//     display: inline-block !important;
// }

.user-shape {
  // for text to wrap in button
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  width: 90px;
  height: 80px;
  margin: 5px;
  font-size: .9rem;
}

.icon-label {
  margin-top: 15px !important;
}

.upload-all {
  position: relative;
  top: -12px;
}

// responive explore buttons
@media (max-width: 1400px) {
  .btn-lg-label {
    display: none !important;
  }
  .upload-all {
    top: 0px;
  }
}

@media (max-width: 1200px) {
  .explore-btns {
    display: block !important;
  }
  .user-shape {
    width: 100% !important;
  }
  .btn-lg-label {
    display: block !important;
  }
  .upload-all {
    position: relative;
    top: -12px;
  }
}

@media (max-width: 768px) {
  .user-shape {
    width: 110px !important;
    height: 80px !important;
  }
  .zonal-label {
    height: 50px !important;
  }
  .zonal-label-remove {
    height: 50px !important;
  }
  .icon-label {
    margin-top: 0px !important;
  }
  .sticky-top {
    position: inherit;
  }
  .upload-all {
    position: relative;
    top: 0px;
  }}

@media (max-width: 590px) {
  .explore-btns {
    display: block !important;
  }
  .user-shape {
    width: 100% !important;
  }
  .btn-lg-label {
    display: block !important;
  }
}

.exposure-equals {
  font-size: 22px;
  padding-right: 5px;

}

.leaflet-bar a, .leaflet-bar a:hover {
  width: 30px !important;
  height: 30px !important;
  // border-width: 0px;
}

.mapinfo-math-hr {
  border-bottom: .75px solid $gray-700;
  margin-top: 7px;
  margin-bottom: 5px;
}

.i-mapinfo {
  margin-bottom: 7px;
  margin-left: -1px;
}

.i-shareurl {
  margin-bottom: 15px;
  margin-left: -1px;
}

.btn-mapshareurl-holder {
  width: 60px;
  height: 50px;
  line-height: 10px;
  color: $body-bg !important;
  background-color: $body-color !important;
}

.btn-mapshareurl {
    .btn-med-share-label {
      font-size: 10px;
      line-height: 10px !important;
      height: 10px;
      position: relative;
      top: -25px;
      white-space: pre;
    }
}

.btn-mapshareurl-holder a, .btn-mapshareurl-holder a:hover{
  width: 100% !important;
  height: 100% !important;
  line-height: 50px !important;
  color: $body-bg !important;
  background-color: $body-color !important;
}

#shareurltextarea {
  position: absolute;
  top: -100px;
  left: -100px;
  z-index: 0;
  height: 1px;
  width: 1px;
  font-size: 10px;
  background-color: $body-color;
  color: $body-bg;
  border-width: 0px;
  padding: 0px;
  // border-top-left-radius: 4px;
  // border-bottom-left-radius: 4px;
  // border-top-right-radius: 0px !important;
  // border-bottom-right-radius: 0px !important;
  // -webkit-border-radius: 4px;
  // -moz-border-radius: 4px;
  vertical-align: middle !important;
  align-items: center !important;
}

#shareurl-holder {
  cursor: pointer;
  position: relative;
  top: -1px;
  left: 10px;
  z-index: 999999999;
  height: 50px;
  width: 40px;
}

.btn-copy-share {
  cursor: pointer;
  position: relative;
  top: -69px;
  left: 92px;
  z-index: 999999999;
  height: 50px;
  width: 100px;
  font-size: 15px;
  background-color: $body-color;
  color: $body-bg;
  border: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  span {
    font-size: 10px;
  }
}

.btn-copy-share-text:before {
  content:"\000A";
  white-space: pre;
}

.btn-close-share {
  cursor: pointer;
  position: relative;
  top: -119px;
  left: 193px;
  z-index: 999999999;
  height: 50px;
  width: 40px;
  font-size: 15px;
  background-color: $body-color;
  color: $body-bg;
  border: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.i-shareurl {
  cursor: pointer;
}

.i-btn {
  background-color: $body-color;
  color: $body-bg;
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  vertical-align: middle !important;
  align-items: center !important;
}

.e-btn {
  background-color: $body-color;
  color: $body-bg;
  width: 75px;
  height: 30px;
  font-size: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  vertical-align: middle !important;
  align-items: center !important;
}

.geocoder-control-overall {
  height: 30px;
}

.geocoder-control-input.leaflet-bar {
  border-width: 0px;
  height: 30px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.btn-search-locations-collapse-holder.leaflet-bar{
  border-width: 0px;
  height: 30px;
}

.geocoder-control-input {
  padding-bottom: 0px;
  padding-left: 0px;
  color: $body-bg;
  vertical-align: middle !important;
  align-items: center !important;
  height: 30px;
}

.geocoder-control {
  width: 30px;
  height: 30px;
}

.geocoder-control.leaflet-control.geocoder-control-expanded {
  width: 275px !important;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  border-left: 0px;
}

#btn-mapinfo-holder, #btn-mapshareurl-holder {
  border-left: 0px;
}

.geocoder-control.leaflet-control {
  width: 30px !important;
}

.mapinfo-math-icon {
  vertical-align: inherit;
  font-size: 10px;
  margin-top: 7px;
  margin-left: -15px;
  color: $gray-700;
}

.i-exposure{
    font-size: 5px;
    vertical-align: inherit;
}

.mapinfodata-header {
  font-size: 1.250em;
}

.map-info-point{
  background-color: $body-bg;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;

}

.searchlocations-point {
  background-color: $body-bg;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;

  /* Prevent background color leak outs */
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding;
  background-clip:         padding-box;

}

.mapInfo {
  background-color: $body-bg;
  color: $body-color;
  padding: $padding;
  width: 250px;
  height: 250px;
}

.search-locations-popup .leaflet-popup-content-wrapper{
  background-color: $body-bg-semiTransparent;
  color: $body-color;
  padding: $padding;
  width: 250px;
  font-size: .85rem;
}

.mapinfodata {
  font-size: .85rem;
}

.searchlocationsdata {
  font-size: .85rem;
}

.mapinfodata-score {
  float: left;
  padding: 1px;
  margin: 1px;
}

.data-score {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 75px;
  min-height: 20px;
}

.asset-score {
  float: right;
  background-color: $teal;
  padding-left: 10px;
  padding-right: 10px;
}

.mapinfodata-holder {
  padding: 5px;
  min-height: 25px;
}

.searchlocationsdata-content {
  padding: 5px;
  min-height: 25px;
}

.search-locations-popup .leaflet-popup-content {
  margin: 5px !important;
}

.search-locations-popup .leaflet-popup-content-wrapper .leaflet-popup-content {
  width: 200px !important;
}

.search-locations-popup .leaflet-popup-content-wrapper {
  padding: 5px;
}

.leaflet-popup {
   bottom: 0;
   min-width: 205px;
 }

 .leaflet-popup-content {
   user-select: none;
   cursor: default;
   min-width: 205px;
 }

 .leaflet-popup-content-wrapper, .leaflet-popup-tip {
   background: $body-bg;
   background:  $body-bg-semiTransparent9;
   color: $body-color;
   border-radius: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   min-width: 225px;
 }

.leaflet-popup-tip-container {
  display: none;
}

body {
  background-color: $body-bg;
  color: $body-color;
}

.flex-fill {
  flex:1 1 auto;
}

.map-row {
    padding-bottom: $padding;
}

hr {
  border-top: 1px solid rgba(233, 236, 241, 0.75);
}

.alert-light{
  background-color: $body-color;
  color: $body-bg;
}

.alert-link{
  color: $body-bg;
}

.list-group.not-found{
  color: $body-color;
  background-color: $body-bg;
}

a.list-group-item.list-group-item-action.not-found{
  font-size: 1.25rem;
  color: $gray-400;
  background-color: $body-bg;
  border-color: $gray-400;
  border-width: 0px;
  border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  text-decoration: underline;
}

h1.not-found {
    font-size: 6.5rem;
}

p.not-found {
   font-size: 1.5rem;
}

.sideheading {
  background-color:  $body-bg;
}




#explore-holder::-webkit-scrollbar {
   -webkit-appearance: none;
   width: 7px;
 }

#explore-holder::-webkit-scrollbar-thumb {
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   background-color: $body-color
 }

#explore-holder::-webkit-scrollbar-corner{
   display: none;
 }


.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color:  $body-bg;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border: 1px solid $gray-700;
  transform: scale(1.75);
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: $body-color;
  background:  $body-bg-semiTransparent;
  border: 0px solid $body-color;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
}

@media (max-width: 768px) {
  #top-bar{
    padding-bottom: ($padding + 5 ) * 2;
  }

}

@media (max-width: 768px) {
  .mapinfodata {
    max-height: 100px;
    overflow: scroll;
  }

  .mapinfodata::-webkit-scrollbar {
     -webkit-appearance: none;
     width: 7px;
   }

   .mapinfodata::-webkit-scrollbar-thumb {
     border-radius: 4px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
     background-color: $body-color
   }

   .mapinfodata::-webkit-scrollbar-corner{
     display: none;
   }

}

#nav-holder {
  margin-bottom: $margin;
}

a.nav-link.active {
  color: $body-color;
  border-bottom: 3px solid $gray-200;
  margin-bottom: $margin;
  margin-left: $margin;
  margin-right: $margin;
  padding-bottom: 5px;
}

a.nav-link {
  color: $body-color;
  border-bottom: 1px solid $gray-200;
  margin-bottom: $margin;
  margin-left: $margin;
  margin-right: $margin;
  padding-bottom: 5px;
}


#explore-holder {
  overflow: hidden scroll;
  overflow: scroll;
}
