$body-bg:    #343a40;
$body-color: #e9ecef;

@media print {
  @page {
    margin: 1cm !important;
    width: 8.5in !important;
  }

  body {
    display: block !important;
    color: $body-color !important;
    background-color: $body-bg !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  a {
    break-inside: avoid-page !important;
    page-break-inside: avoid  !important;
  }


  a[href^=http]:after {
        content:" < " attr(href) "> " !important;
  }


  .page-break	{
    display: block !important;
    page-break-before: always !important;
    -webkit-region-break-after: always !important;
  }

  #main {
    display: block !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .nfwf-header {
    display: block !important;
    float: none !important;
    padding: 15px !important;
    h2 {
      display: block !important;
      float: none !important;
      padding: 15px !important;
    }
  }

  #main-content, #tab-main-nav-map, .container {
    display: block !important;
    float: none !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  #map-holder {
    display: block !important;
    float: none !important;
    height: 10.5in !important;
    width: 10.5in !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    page-break-after: always !important;
    break-after: always !important;
    #map {
      display: block !important;
      float: none !important;
      height: 10.5in !important;
      width: 100% !important;
      background-color: $body-bg !important;
      color: $body-color !important;
      break-inside: avoid-page !important;
      page-break-inside: avoid  !important;
      page-break-after: always !important;
      break-after: always !important;
    }
  }

  .map-list-column {
    display: block !important;
    float: none !important;
    position: unset !important;
    height: auto !important;
    width: 100% !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    border: 10px solid $body-bg !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    page-break-after: always !important;
    break-after: always !important;
    break-before: always !important;
    page-break-before: always !important;
  }

  #maplayers_list-holder {
    display: block !important;
    float: none !important;
    position: unset !important;
    z-index: unset !important;
    border: 10px solid $body-bg !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    max-height: unset !important;
    width: 100% !important;
    height: 100% !important;
    page-break-after: always !important;
    break-after: always !important;
  }

  .map_responsive {
    display: block !important;
    float: none !important;
    position: unset !important;
    overflow-y: unset !important;
    overflow-x: unset !important;
    min-width: unset !important;
    max-width: unset !important;
    max-height: unset !important;
    margin-right: unset !important;
    width: 100% !important;
    height: auto !important;
    border: 10px solid $body-bg !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .maplayerslisttoggle-collapse {
    display: block !important;
    float: none !important;
    position: unset !important;
    overflow-y: unset !important;
    overflow-x: unset !important;
    display: unset !important;
    flex-wrap: unset !important;
    justify-content: unset !important;
    width: 100% !important;
    height: 100% !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  #mapListToggle {
    display: block !important;
    float: none !important;
    position: unset !important;
    width: 100% !important;
    height: auto !important;
    border: 10px solid $body-bg !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    #main-nav {
      display: block !important;
      float: none !important;
      position: unset !important;
      width: 100% !important;
      height: auto !important;
      border: 10px solid $body-bg !important;
      background-color: $body-bg !important;
      color: $body-color !important;
      -webkit-print-color-adjust: exact !important;
      color-adjust: exact !important;
    }
  }

  #ToggleLayerList, #ToggleLayerList .closed {
    position: unset !important;
    display: block !important;
    float: none !important;
    overflow: unset !important;
    top: 150px !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    border: 10px solid $body-bg !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .brand-maplist-holder, .nav-brand-maplayerlist {
    position: unset !important;
    float: none !important;
    display: block !important;
    overflow: unset !important;
    top: 150px !important;
    width: 100% !important;
  }

  .LayerList-Group {
    padding-top: 15px !important;
    break-inside: avoid-page !important;
    page-break-inside: avoid  !important;
  }

  .collapse:not(.show){
    display: block !important;
    float: none !important;
  }

  .h-0 {
    display: block !important;
    float: none !important;
    height: 100% !important;
  }

  #explore-title, #exlpore-directions,
    #navbar-explore-shapes, #zonal-stats-short-title-holder, #hasshape-button-holder,
    .zonal-label-remove, .zonal-label-zoom,
    .zonal-long-button-wrapper.d-none, #btn-basemap,
    #basemaplist, .list-basemap, .layer-description-text,
    .custom-control-label::after, .custom-control-label::before,
    .bnt-MapLayersListToggle, .list-group-item-action,
    .zonal-stats-button-holder, .zonal-stats-wrapper.d-none,
    #zonal-header-f, #zonal-header  {
    display: none !important;
    float: none !important;
  }

  .layer-legend-toggler, #legend-assets {
    display: none !important;
    float: none !important;
    width: 0px !important;
    height: 0px !important;
    svg {
      display: none !important;
      float: none !important;
      width: 0px !important;
      height: 0px !important;
    }
  }

  .leaflet-control-container {
    .leaflet-top.leaflet-left {
      display: none !important;
    }
    .leaflet-bottom.leaflet-left {
      display: none !important;
    }
    .leaflet-top.leaflet-right {
      display: none !important;
    }
  }

  .leaflet-tile  {
    mix-blend-mode: difference;
  }

  .user-shape, .btn-light {
    background-color:  $body-bg !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    color: $body-color !important;
    border: 0px solid $body-bg !important;
    font-size: 1.5rem !important;
    svg {
      display: none !important;
    }
  }

  .layer-legend-wrapper.open, .layer-legend-wrapper.closed {
    display: block !important;
    float: none !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-bottom: 0px solid #ffffff40 !important;
    margin-bottom: 5px !important;
    margin-left: -1.5rem !important;
    overflow: hidden !important;
    max-height: 500px !important;
    transition: all 0.75s ease !important;
    will-change: transform !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
 }

 .layer-legend-wrapper .layer-legend, .zonal-long-table, .zonal-long-table-row, .zonal-long-table-row,
  .custom-control.custom-checkbox, .layer-toggle-wrapper, .LayerInput-header, .LayerList-spacer {
   background-color: $body-bg !important;
   color: $body-color !important;
   -webkit-print-color-adjust: exact !important;
   color-adjust: exact !important;
   border: unset !important;
   float: none !important;
   break-inside: avoid-page !important;
   page-break-inside: avoid !important;
 }


  #has-shape-holder {
    display: none !important;
  }


  .data-row {
    display: block !important;
    float: none !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    page-break-after: always !important;
    break-after: always !important;
  }

  #explore-holder {
    position: unset !important;
    display: block !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .explore-row, .explore-row-container {
    display: block !important;
    background-color: $body-bg !important;
    color: $body-color !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .explore-row-container {
    display: block !important;
    background-color: $body-bg !important;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .zonal-stats-wrapper, .zonal-summary-wrapper, .zonal-long-graph-steps,
    .zonal-long-graph-content, .zonal-long-graph-wrapper-short-chart,
    .layer-legend-wrapper {
    display: block !important;
    float: none !important;
    break-inside: avoid-page !important;
    page-break-inside: avoid !important;
  }

  .userarealabel {
    color: $body-color !important;
  }

  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      display: block !important;
      width: 100% !important;
      float: none !important;
      min-height: 1px !important;
      max-width: 100% !important;
    }
  }
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      display: block !important;
      width: 100% !important;
      float: none !important;
      min-height: 1px;
      max-width: 100%;
    }
  }
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      display: block !important;
      width: 100% !important;
      float: none !important;
      min-height: 1px;
      max-width: 100%;
    }
  }

  .order-1  {
    order: 1;
  }
  .order-2  {
    order: 2;
  }

  .order-sm-1  {
    order: 1;
  }
  .order-sm-2  {
    order: 3;
  }
  .order-sm-3  {
    order: 2;
  }

  .order-md-1  {
    order: 1;
  }
  .order-md-2  {
    order: 2;
  }

  .order-lg-1  {
    order: 2;
  }
  .order-lg-2  {
    order: 1;
  }

  .order-xl-2  {
    order: 1;
  }
  .order-xl-1  {
    order: 2;
  }
}
