$fish-1: #cce2e8;
$fish-2: #8fc8d6;
$fish-3: #5ea4ba;
$fish-4: #047e91;
$fish-5: #095a62;
$fish-bar: #f00;

$wildlife-1: #ffe9c4;
$wildlife-2: #e0c879;
$wildlife-3: #76974e;
$wildlife-4: #385b24;
$wildlife-5: #004908;
$wildlife-bar: #0f0;

$hub-1: #edf8e9;
$hub-2: #c5ddca;
$hub-3: #9ec3ac;
$hub-4: #76a98d;
$hub-5: #4f8e6f;
$hub-6: #277450;
$hub-7: #005a32;
$hub-bar: #0ff;

$exposure-1: #568b93;
$exposure-2: #7db0a3;
$exposure-3: #d4e5ba;
$exposure-4: #ecd79c;
$exposure-6: #c38e59;
$exposure-9: #9b5526;
$asset-bar: #68ace7;
$threat-bar: #d4182b;

#zonal-area-wrapper {
  width: 100%;
  position: relative;
}

.zonal-wrapper {
  margin-bottom: 10px;
  cursor: pointer;

  > div, > button {
    display: inline-block;
    vertical-align: top;
  }
}

.zonal-expand-button {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 0;

  &:after {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "\2795";
  }
}

.zonal-box {
  display: inline-block;
  width: 45%;
  min-width: 56px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
}

div.zonal-asset {
  margin-right: 0;
}

#zonal-header {
  margin-bottom: 15px;
}

.zonal-header-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &.zonal-header-details {
    width: 15%;
    text-align: left;
  }

  &.zonal-header-hub {
    width: 15%;
  }

  &.zonal-header-fish-wildlife, &.zonal-header-exposure {
    width: 33%;
  }
}

.zonal-header-item-top {
  font-size: 13px;
  font-weight: bold;
}

.zonal-header-item-bottom {
  font-size: 13px;
}

.zonal-header-item-label {
  display: inline-block;

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}

.zonal-label {
  width: 15%;

  &:after {
    content: "\203a";
    display: inline;
    padding-left: 2px;
  }
}

.zonal-item {
  width: 33%;
  text-align: center;

  &-hub {
    width: 15%;
    margin-right: 12px;
  }
}

.zonal-long-wrapper {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 125%;
  transition: left .5s ease-in-out;
  background-color: #343a40;
  overflow: hidden;

  &.active {
    left: 0;
    height: auto;
  }
}

.zonal-long-exposure-wrapper, .zonal-long-fish-wildlife-wrapper, .zonal-long-hub-wrapper {
  h5, h6 {
    margin-bottom: 0;
  }
}

.zonal-long-asset-threat, .zonal-long-fish-wildlife-wrapper, .zonal-long-exposure-wrapper {
  margin-top: 40px;
}

.zonal-long-dismiss {
  cursor: pointer;
  border-radius: 2px;

  &:hover {
    background-color: #e6e6e6;
  }

  &:before {
    content: "\2039";
    display: inline;
    padding-right: 2px;
  }

  &-wrapper {
    margin-bottom: 20px;
  }
}

.zonal-long-table-index {
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;

  h6 {
    text-align: center;
  }
}

.zonal-long-table {
  position: relative;
  display: inline-block;
  font-size: 12px;
}

.zonal-long-table-row-header-simple {
  position: relative;
  height: 30px;
}

.zonal-long-table-item {
  $box-dimensions: 56px;
  display: inline-block;
  width: $box-dimensions;
  height: $box-dimensions;
  text-align: center;
  line-height: $box-dimensions;
  vertical-align: top;
  margin: 2px 1px 2px 0px;

  &-fw {
    width: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-hub {
    width: 21px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.zonal-long-table-header {
  position: relative;

  &:after {
    $circle-dimensions: 16px;

    position: absolute;
    content: "";
    width: $circle-dimensions;
    height: $circle-dimensions;
    line-height: $circle-dimensions;
    bottom: 2px;
    left: 20px;
    border-radius: 50%;
  }

  &-low:after {
    content: "1";
  }

  &-med:after {
    content: "2";
  }

  &-high:after {
    content: "3";
  }

  &-threat:after {
    background-color: $threat-bar;
  }

  &-asset:after {
    background-color: $asset-bar;
  }
}

.zonal-long-table-exposure .zonal-long-table-header-asset {
  line-height: 40px;

  &:after {
    bottom: 10px;
  }
}

.zonal-long-table-cell {
  &-lowest {
    background-color: $exposure-1;
  }

  &-low {
    background-color: $exposure-2;
  }

  &-mediumlow {
    background-color: $exposure-3;
    color: #000;
  }

  &-medium {
    background-color: $exposure-4;
    color: #000;
  }

  &-high {
    background-color: $exposure-6;
  }

  &-highest {
    background-color: $exposure-9;
  }

  &-fish {
    &-lowest {
      background-color: $fish-1;
      color: #000;
    }

    &-low {
      background-color: $fish-2;
      color: #000;
    }

    &-medium {
      background-color: $fish-3;
    }

    &-high {
      background-color: $fish-4;
    }

    &-highest {
      background-color: $fish-5;
    }
  }

  &-wildlife {
    &-lowest {
      background-color: $wildlife-1;
      color: #000;
    }

    &-low {
      background-color: $wildlife-2;
      color: #000;
    }

    &-medium {
      background-color: $wildlife-3;
    }

    &-high {
      background-color: $wildlife-4;
    }

    &-highest {
      background-color: $wildlife-5;
    }
  }

  &-hub {
    &-lowest {
      background-color: $hub-1;
      color: #000;
    }

    &-low {
      background-color: $hub-2;
      color: #000;
    }

    &-mediumlow{
      background-color: $hub-3;
      color: #000;
    }

    &-medium {
      background-color: $hub-4;
    }

    &-mediumhigh {
      background-color: $hub-5;
    }

    &-high {
      background-color: $hub-6;
    }

    &-highest {
      background-color: $hub-7;
    }
  }
}

.zonal-long-table-header-simple {
  position: absolute;
  bottom: 0;

  &-low {
    left: 0;
  }

  &-high {
      right: 0;
  }
}

.zonal-long-table-bar-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;

  &-exposure {
    left: 25%;
    top: 25%;
    width: 75%;
    height: 75%;
  }
}

.zonal-long-table-bar {
  $bar-width: 3px;

  position: absolute;
  width: $bar-width;
  height: 100%;
  top: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);

  &-threat {
    background-color: $threat-bar;
  }

  &-asset {
    background-color: $asset-bar;

    &-exposure {
      width: 100%;
      height: $bar-width;
      top: auto;
      left: 0;
    }
  }

  &-fish {
    background-color: $fish-bar;
  }

  &-wildlife {
    background-color: $wildlife-bar;
  }

  &-hub {
    background-color: $hub-bar;
  }
}

.zonal-long-graph-wrapper {
  width: 320px;
  margin-top: 25px;

  h6 {
    text-align: center;
    padding-left: 40px;
  }
}

.zonal-long-graph {
  display: inline-block;
  width: 100%;
  padding-left: 40px;
  font-size: 12px;
}

.zonal-long-graph-content {
  position: relative;
}

.zonal-long-graph-axis {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -40px;
  border-right: 2px solid #999;

  &-label {
    position: absolute;
    left: 0;

    &-high {
      top: 0;
    }

    &-low {
      bottom: 0;
    }
  }
}

.zonal-long-graph-steps {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.zonal-long-graph-step {
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed rgba(153, 153, 153, .2);

  &-1 {
    bottom: 20%;
  }

  &-2 {
    bottom: 40%;
  }

  &-3 {
    bottom: 60%;
  }

  &-4 {
    bottom: 80%;
  }
}

.zonal-long-graph-bars {
  height: 100px;
  border-bottom: 2px solid #999;
  font-size: 0;
}

.zonal-long-graph-bar-wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
}

.zonal-long-graph-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: blue;
}

.zonal-long-graph-labels {
  height: 65px;
  font-size: 0px;
  padding-top: 5px;
}

.zonal-long-graph-label {
  display: inline-block;
  position: relative;
  font-size: 12px;

  &:before {
    content: "";
    width: 2px;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 50%;
    background-color: #999;
  }

  &:nth-child(2n) {
    padding-top: 35px;
    vertical-align: top;

    &:before {
      height: 35px;
    }
  }

  &-text {
    position: absolute;
    left: 0%;
    text-align: center;
  }
}

.zonal-long-graph-wrapper-asset {
  .zonal-long-graph-label {
    width: 25%;
  }

  .zonal-long-graph-bar-wrapper {
    margin: 0 5%;
    width: 15%;
  }
}

.zonal-long-graph-wrapper-threat {
  .zonal-long-graph-label {
    width: 14.28%;
  }

  .zonal-long-graph-bar-wrapper {
    margin: 0 2.14%;
    width: 10%;
  }
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
