.zonal-wrapper {
  margin-bottom: 10px;

  > div, > button {
    display: inline-block;
    vertical-align: top;
  }
}

.zonal-hub {
  background-color: white;
  border-radius: 50%;
  position: relative;
  width: 25px;
  height: 25px;
  left: 50%;
  margin-left: -7px;
}

.zonal-hub-in:after {
  content: '\2713';
  position: absolute;
  top: -1px;
  left: 5px;
  color: green;
  font-size: 20px;
}

.zonal-hub-out:after {
  content: '\274C';
  position: absolute;
  top: 6px;
  left: 6px;
  color: red;
  font-size: 10px;
}

.zonal-expand-button {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 0;

  &:after {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "\2795";
  }
}

.zonal-box {
  display: inline-block;
  width: 45%;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
}

div.zonal-asset {
  margin-right: 0;
}

#zonal-header {
  margin-bottom: 15px;
}

.zonal-header-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &.zonal-header-details {
    width: 15%;
    text-align: left;
  }

  &.zonal-header-hub {
    width: 15%;
  }

  &.zonal-header-fish-wildlife, &.zonal-header-exposure {
    width: 33%;
  }
}

.zonal-header-item-top {
  font-size: 13px;
  font-weight: bold;
}

.zonal-header-item-bottom {
  font-size: 13px;
}

.zonal-header-item-label {
  display: inline-block;

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}

.zonal-label {
  width: 15%;
}

div.zonal-hub-wrapper {
  width: 15%;
  margin-right: 12px;
}

.zonal-item {
  width: 33%;
  text-align: center;
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
