$fish-1: #cce2e8;
$fish-2: #8fc8d6;
$fish-3: #5ea4ba;
$fish-4: #047e91;
$fish-5: #095a62;
$fish-bar: #f00;

$wildlife-1: #ffe9c4;
$wildlife-2: #e0c879;
$wildlife-3: #76974e;
$wildlife-4: #385b24;
$wildlife-5: #004908;
$wildlife-bar: #0f0;

$hub-1: #edf8e9;
$hub-2: #c5ddca;
$hub-3: #9ec3ac;
$hub-4: #76a98d;
$hub-5: #4f8e6f;
$hub-6: #277450;
$hub-7: #005a32;
$hub-bar: #0ff;

$exposure-1: #568b93;
$exposure-2: #7db0a3;
$exposure-3: #d4e5ba;
$exposure-4: #ecd79c;
$exposure-6: #c38e59;
$exposure-9: #9b5526;
$asset-bar: #68ace7;
$threat-bar: #d4182b;

$label-font-size: 12px;

$graph-axis-width: 40px;
$graph-axis-color: #999;

$body-bg:    $gray-800;
$body-color: $gray-200;

#zonal-area-wrapper {
  width: 100%;
  position: relative;
}

.zonal-wrapper {

  cursor: pointer;

  > div, > button {
    display: inline-block;
    vertical-align: top;
  }

  margin-bottom: 0px;
  left: 150%;
  top: -150px;
  position: absolute;
  height: 0px;

  &.active {
    margin-bottom: 10px;
    height: 100%;
    display: block;
    left: 0px;
    top: 0px;
    position: relative;
  }
}

.zonal-expand-button {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 0;

  &:after {
    position: absolute;
    top: 1px;
    left: 1px;
    content: "\2795";
  }
}

.zonal-box {
  display: inline-block;
  width: 45%;
  min-width: 56px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
}

div.zonal-asset {
  margin-right: 0;
}

#zonal-header {
  margin-bottom: 15px;
}

.zonal-long-name-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.zonal-header-item {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  &.zonal-header-details {
    width: 15%;
    text-align: left;
  }

  &.zonal-header-hub {
    width: 15%;
  }

  &.zonal-header-fish-wildlife, &.zonal-header-exposure {
    width: 33%;
  }
}

.zonal-header-item-top {
  font-size: 13px;
  font-weight: bold;
}

.zonal-header-item-bottom {
  font-size: 13px;
}

.zonal-header-item-label {
  display: inline-block;

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}
.btn-details {
  height: 30px;
}


.zonal-hubs {
    width: 90%;
}

.zonal-item-hub {
  width: 20% !important;
}

.zonal-label {
  // for text to wrap in button
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  width: 60px;
  height: 50px;
  margin: 5px;
  font-size: .9rem;
}

@media (max-width: 1800px) {

}

@media (max-width: 1600px) {

  .zonal-item-hub {
    margin-right: 6px !important;
  }
}

// medium
@media (max-width: 1430px) {
  .zonal-label {
    width: 100%;
    svg {display: inline-block;}
  }

  .zonal-item {
    text-align: left !important;
  }

  .zonal-item-hub {
    width: 100% !important;
  }
  .zonal-item-exposure {
    width: 100% !important;
  }

  .zonal-item-fishwild {
    width: 100% !important;
  }

  .zonal-hubs{
    width: 100%;
  }

  .zonal-aquatic {
    width: 50%;
  }

  .zonal-terrestrial {
    width: 50%;
  }

  .zonal-asset {
    width: 50%;
  }

  .zonal-threat {
    width: 50%;
  }

  .zonal-item-hub:before {
    content: "Hub";
    display: block;
    margin-right: 5px;
    font-size: 12px;
  }

  .zonal-item-fishwild:before {
    content: "Aquatic/Terrestrial";
    display: block;
    margin-right: 5px;
    font-size: 12px;
    width: 110px;
  }

  .zonal-item-exposure:before {
    content: "Asset/Threat";
    display: block;
    margin-right: 5px;
    font-size: 12px;
    width: 110px;
  }

  .zonal-wrapper {
    display: block !important;
    padding-bottom: 15px !important;
    margin-bottom: 20px !important;

    &.active {
      margin-bottom: 50px !important;
    }

    div.zonal-item {
      display: block !important;
    }
  }

  #zonal-header {
    display: none !important;
  }

  .zonal-long-button-wrapper{
    width: 100%
  }

  .zonal-long-button{
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
  }

}

// asset drivers
@media (max-width: 1200px) {
    .zonal-long-graph-wrapper {
      width: 280px !important;
    }
}
// asset drivers
@media (max-width: 1064px) {
    .zonal-long-graph-wrapper {
      width: 250px !important;
    }
}

// 946 exposure freaks
@media (max-width: 946px) {
  .zonal-long-graph-wrapper {
    width: 210px !important;
    .zonal-long-graph-label-text {
      font-size: 10px;
    }
  }
  $box-dimensions: 46px;
  .zonal-long-hub-wrapper, .zonal-long-fish-wildlife-wrapper, .zonal-long-asset-threat {
    .zonal-long-table-bar-wrapper {
      height: $box-dimensions + 4 !important;
    }
  }
  .zonal-long-table-item {
    line-height: $box-dimensions !important;
    width: $box-dimensions !important;
    height: $box-dimensions !important;
    &.zonal-long-table-item-hub{
      $box-dimensions: 18px;
      width: $box-dimensions !important;
    }
    &.zonal-long-table-item-fw {
      $box-dimensions: 28px;
      width: $box-dimensions !important;
    }
  }
}

// asset drivers
@media (max-width: 875px) {
    .zonal-long-graph-wrapper {
      width: 200px !important;
    }
    .zonal-long-graph-wrapper-asset .zonal-long-graph-bar-wrapper {
      width: 10% !important;
    }
    .zonal-long-graph-wrapper-asset .zonal-long-graph-label {
      width: 20% !important;
    }
}

@media (max-width: 825px) {
  $box-dimensions: 40px;
  .zonal-long-hub-wrapper, .zonal-long-fish-wildlife-wrapper, .zonal-long-asset-threat {
    .zonal-long-table-bar-wrapper {
      height: $box-dimensions + 4 !important;
    }
  }
  .zonal-long-table-item {
    line-height: $box-dimensions !important;
    width: $box-dimensions !important;;
    height: $box-dimensions !important;;
  }
}

@media (max-width: 793px) {
  .zonal-long-table-item {
    &.zonal-long-table-item-hub{
      $box-dimensions: 16px;
      width: $box-dimensions !important;
    }
    &.zonal-long-table-item-fw {
      $box-dimensions: 26px;
      width: $box-dimensions !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .zonal-long-graph-wrapper {
    width: 320px !important;
    .zonal-long-graph-label-text {
      font-size: 12px;
    }
  }
  $box-dimensions: 56px;
  .zonal-long-hub-wrapper, .zonal-long-fish-wildlife-wrapper, .zonal-long-asset-threat {
    .zonal-long-table-bar-wrapper {
      height: $box-dimensions + 4 !important;
    }
  }
  .zonal-long-table-item {
    line-height: $box-dimensions !important;
    width: $box-dimensions !important;
    height: $box-dimensions !important;
    &.zonal-long-table-item-hub{
      $box-dimensions: 21px;
      width: $box-dimensions !important;
    }
    &.zonal-long-table-item-fw {
      $box-dimensions: 32px;
      width: $box-dimensions !important;
    }
  }
}

@media screen and (max-width: 425px) {
  .zonal-long-graph-wrapper {
    width: 280px !important;
  }
}

@media screen and (max-width: 370px) {
  .zonal-long-graph-wrapper {
    width: 240px !important;
    .zonal-long-graph-label-text {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 330px) {
  .zonal-long-graph-wrapper {
    width: 210px !important;
  }
}

// small
@media (max-width: 768px) {
  #zonal-header {
    display: block !important;
  }

  .zonal-label {
    width: 60px !important;
    height: 50px !important;
  }
  .zonal-item {
    width: 30% !important;;
  }
  .zonal-item-hub {
    width: 20% !important;;
  }
  .zonal-wrapper {
    display: flex  !important;
    padding-bottom: 15px !important;
    margin-bottom: 10px !important;

    &.active {
      margin-bottom: 10px !important;
    }
    div.zonal-item {
      display: block !important;

    }
  }

  .zonal-item {
    width: 30% !important;
    text-align: center !important;
    margin-top: 15px !important;
  }

  .zonal-box {
    display: inline-block !important;
    width: 45% !important;
    min-width: 56px !important;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 14px !important;
    text-align: center !important;
  }

  .zonal-item-hub:before {
    display: none;
  }

  .zonal-item-fishwild:before {
    display: none;
  }

  .zonal-item-exposure:before {
    display: none;

  }

  .zonal-item-hub {
    width: 20% !important;
  }
  .zonal-item-exposure {
    width: 100% !important;
  }

  .zonal-item-fishwild {
    width: 100% !important;
  }

  .zonal-hubs{
    width: 90%;
  }

  .zonal-aquatic {
    width: 33%;
  }

  .zonal-terrestrial {
    width: 33%;
  }

  .zonal-asset {
    width: 33%;
  }

  .zonal-threat {
    width: 33%;
  }
}

.zonal-item {
  width: 30%;
  text-align: center;
  margin-top: 15px;

  &-hub {
    width: 15%;
    margin-right: 12px;
  }
}

// very small
@media (max-width: 590px) {
  .zonal-label {
    width: 100% !important;
    svg {display: inline-block;}
  }

  .zonal-item {
    text-align: left !important;
  }

  .zonal-item-hub {
    width: 100% !important;
  }

  .zonal-item-hub {
    width: 100% !important;
  }
  .zonal-item-exposure {
    width: 100% !important;
  }

  .zonal-item-fishwild {
    width: 100% !important;
  }

  .zonal-hubs{
    width: 100% !important;
  }

  .zonal-aquatic {
    width: 50% !important;
  }

  .zonal-terrestrial {
    width: 50% !important;
  }

  .zonal-asset {
    width: 50% !important;
  }

  .zonal-threat {
    width: 50% !important;
  }


  .zonal-item-hub:before {
    content: "Hub";
    display: block;
    margin-right: 5px;
    font-size: 12px;
  }

  .zonal-item-fishwild:before {
    content: "Aquatic/Terrestrial";
    display: block;
    margin-right: 5px;
    font-size: 12px;
    width: 110px;
  }

  .zonal-item-exposure:before {
    content: "Asset/Threat";
    display: block;
    margin-right: 5px;
    font-size: 12px;
    width: 110px;
  }

  .zonal-wrapper {
    display: block !important;
    padding-bottom: 15px !important;
    margin-bottom: 20px !important;

    &.active {
      margin-bottom: 50px !important;
    }

    div.zonal-item {
      display: block !important;
    }
  }

  #zonal-header {
    display: none !important;
  }
}

@media (max-width: 340px) {
  $box-dimensions: 42px;
  .zonal-long-hub-wrapper, .zonal-long-fish-wildlife-wrapper, .zonal-long-asset-threat {
    .zonal-long-table-bar-wrapper {
      height: $box-dimensions + 4 !important;
    }
  }
  .zonal-long-table-item {
    line-height: $box-dimensions !important;
    width: $box-dimensions !important;
    height: $box-dimensions !important;
    &.zonal-long-table-item-hub{
      $box-dimensions: 16px;
      width: $box-dimensions !important;
    }
    &.zonal-long-table-item-fw {
      $box-dimensions: 26px;
      width: $box-dimensions !important;
    }
  }
}

.zonal-long-wrapper {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 125%;
  transition: left .5s ease-in-out;
  background-color: #343a40;
  overflow: hidden;
  padding-bottom: 0px;

  &.active {
    left: 0;
    position: relative;
    left: 0px;
    // this is a hacky way of dealing with height.
     height: 100%;
     padding-bottom: 30px;
  }
}

.zonal-long-exposure-wrapper, .zonal-long-fish-wildlife-wrapper, .zonal-long-hub-wrapper {
  h5, h6 {
    margin-bottom: 0;
  }
}

.zonal-long-asset-threat, .zonal-long-fish-wildlife-wrapper, .zonal-long-exposure-wrapper {
  margin-top: 40px;
}

.zonal-long-button {
  cursor: pointer;
  border-radius: 2px;
  background-color:  $body-color;
  color: $body-bg;
  font-size: 15px;

  &:hover {
    background-color: #e6e6e6;
  }

  &-dismiss:before {
    content: "\2039";
    display: inline;
    padding-right: 2px;
  }

  &-graphs {
    display: none;
  }

  &-wrapper {
    margin-bottom: 20px;
  }
}

.zonal-long-raw-values {
  display: none;
}

.active-table {
  .zonal-long-raw-values {
    display: block;
  }

  .zonal-long-button-graphs {
    display: inline-block;
  }

  .zonal-long-graphs, .zonal-long-button-raw {
    display: none;
  }
}

.zonal-long-table-index {
  display: inline-block;
  margin-right: 30px;
  margin-top: 15px;

  h6 {
    text-align: center;
  }
}

.zonal-long-table {
  position: relative;
  display: inline-block;
  font-size: $label-font-size;
}

.zonal-long-table-row-header-simple {
  position: relative;
  height: 30px;
}

.zonal-long-table-item {
  $box-dimensions: 56px;
  display: inline-block;
  width: $box-dimensions;
  height: $box-dimensions;
  text-align: center;
  line-height: $box-dimensions;
  vertical-align: top;
  margin: 2px 1px 2px 0px;

  &-fw {
    width: 32px;

    &:last-child {
      margin-right: 0;
    }
  }

  &-hub {
    width: 21px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.zonal-long-table-header {
  position: relative;

  &:after {
    $circle-dimensions: 16px;

    position: absolute;
    content: "";
    width: $circle-dimensions;
    height: $circle-dimensions;
    line-height: $circle-dimensions;
    bottom: 2px;
    left: 20px;
    border-radius: 50%;
  }

  &-low:after {
    content: "1";
  }

  &-med:after {
    content: "2";
  }

  &-high:after {
    content: "3";
  }

  &-threat:after {
    background-color: $threat-bar;
  }

  &-asset:after {
    background-color: $asset-bar;
  }
}

.zonal-long-table-exposure .zonal-long-table-header-asset {
  line-height: 40px;

  &:after {
    bottom: 10px;
  }
}

@media (max-width: 946px) {
  .zonal-long-table-exposure .zonal-long-table-header-asset {
    line-height: 20px !important;
  }
  .zonal-long-table-exposure .zonal-long-table-header-threat {
    line-height: 35px !important;
  }
}

@media (max-width: 825px) {
  .zonal-long-table-exposure .zonal-long-table-header-asset {
    line-height: 10px !important;
  }
  .zonal-long-table-exposure .zonal-long-table-header-threat {
    line-height: 30px !important;
  }
}


@media (max-width: 768px) {
  line-height: 40px;

  &:after {
    bottom: 10px;
  }
}

@media (max-width: 340px) {
  .zonal-long-table-exposure .zonal-long-table-header-asset {
    line-height: 10px !important;
  }
  .zonal-long-table-exposure .zonal-long-table-header-threat {
    line-height: 30px !important;
  }
}

@media (max-width: 340px) {
  .zonal-long-table-asset .zonal-long-table-header-asset {
    line-height: 25px !important;
  }
  .zonal-long-table-threat .zonal-long-table-header-threat {
    line-height: 25px !important;
  }
}

.zonal-long-table-cell {
  &-lowest {
    background-color: $exposure-1;
  }

  &-low {
    background-color: $exposure-2;
  }

  &-mediumlow {
    background-color: $exposure-3;
    color: #000;
  }

  &-medium {
    background-color: $exposure-4;
    color: #000;
  }

  &-high {
    background-color: $exposure-6;
  }

  &-highest {
    background-color: $exposure-9;
  }

  &-fish {
    &-lowest {
      background-color: $fish-1;
      color: #000;
    }

    &-low {
      background-color: $fish-2;
      color: #000;
    }

    &-medium {
      background-color: $fish-3;
    }

    &-high {
      background-color: $fish-4;
    }

    &-highest {
      background-color: $fish-5;
    }
  }

  &-wildlife {
    &-lowest {
      background-color: $wildlife-1;
      color: #000;
    }

    &-low {
      background-color: $wildlife-2;
      color: #000;
    }

    &-medium {
      background-color: $wildlife-3;
    }

    &-high {
      background-color: $wildlife-4;
    }

    &-highest {
      background-color: $wildlife-5;
    }
  }

  &-hub {
    &-lowest {
      background-color: $hub-1;
      color: #000;
    }

    &-low {
      background-color: $hub-2;
      color: #000;
    }

    &-mediumlow{
      background-color: $hub-3;
      color: #000;
    }

    &-medium {
      background-color: $hub-4;
    }

    &-mediumhigh {
      background-color: $hub-5;
    }

    &-high {
      background-color: $hub-6;
    }

    &-highest {
      background-color: $hub-7;
    }
  }
}

.zonal-long-table-header-simple {
  position: absolute;
  bottom: 0;

  &-low {
    left: 0;
  }

  &-high {
      right: 0;
  }
}

.zonal-long-table-bar-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;

  &-exposure {
    left: 25%;
    top: 25%;
    width: 75%;
    height: 75%;
  }
}

.zonal-long-table-bar {
  $bar-width: 3px;

  position: absolute;
  width: $bar-width;
  height: 100%;
  top: 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);

  &-threat {
    background-color: $threat-bar;
  }

  &-asset {
    background-color: $asset-bar;

    &-exposure {
      width: 100%;
      height: $bar-width;
      top: auto;
      left: 0;
    }
  }

  &-fish {
    background-color: $fish-bar;
  }

  &-wildlife {
    background-color: $wildlife-bar;
  }

  &-hub {
    background-color: $hub-bar;
  }
}

.zonal-long-graph-wrapper {
  width: 320px;
  margin-top: 25px;

  h6 {
    text-align: center;
    padding-left: $graph-axis-width;
  }
}

.zonal-long-graph {
  display: inline-block;
  width: 100%;
  padding-left: $graph-axis-width;
  font-size: $label-font-size;
}

.zonal-long-graph-content {
  position: relative;
}

.zonal-long-graph-axis {
  width: $graph-axis-width;
  height: 100%;
  position: absolute;
  top: 0;
  left: -$graph-axis-width;
  border-right: 2px solid $graph-axis-color;

  &-label {
    position: absolute;
    left: 0;

    &-high {
      top: 0;
    }

    &-low {
      bottom: 0;
    }
  }
}

.zonal-long-graph-steps {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}

.zonal-long-graph-step {
  position: absolute;
  width: 100%;
  border-bottom: 1px dashed rgba($graph-axis-color, .2);

  &-1 {
    bottom: 20%;
  }

  &-2 {
    bottom: 40%;
  }

  &-3 {
    bottom: 60%;
  }

  &-4 {
    bottom: 80%;
  }
}

.zonal-long-graph-bars {
  height: 100px;
  border-bottom: 2px solid $graph-axis-color;
  font-size: 0;
}

.zonal-long-graph-bar-wrapper {
  display: inline-block;
  position: relative;
  height: 100%;
}

.zonal-long-graph-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

$graph-tick-height-short: 5px;
.zonal-long-graph-labels {
  height: 65px;
  font-size: 0px;
  padding-top: $graph-tick-height-short;
}

.zonal-long-graph-label {
  display: inline-block;
  position: relative;
  font-size: $label-font-size;

  &:before {
    content: "";
    width: 2px;
    height: $graph-tick-height-short;
    position: absolute;
    top: -$graph-tick-height-short;
    left: 50%;
    background-color: $graph-axis-color;
  }

  &:nth-child(2n) {
    $graph-tick-height-long: 35px;
    padding-top: $graph-tick-height-long;
    vertical-align: top;

    &:before {
      height: $graph-tick-height-long;
    }
  }

  &-text {
    position: absolute;
    left: 0%;
    text-align: center;
  }
}

.zonal-long-graph-wrapper-asset {
  $asset-bar-wrapper-width: 100% / 4;
  .zonal-long-graph-label {
    width: $asset-bar-wrapper-width;
  }

  .zonal-long-graph-bar-wrapper {
    $asset-bar-width: 15%;
    $asset-bar-margin: ($asset-bar-wrapper-width - $asset-bar-width) / 2;
    width: $asset-bar-width;
    margin: 0 $asset-bar-margin;
  }
}

.zonal-long-graph-wrapper-threat {
  $threat-bar-wrapper-width: 100% / 7;
  .zonal-long-graph-label {
    width: $threat-bar-wrapper-width;
  }

  .zonal-long-graph-bar-wrapper {
    $threat-bar-width: 10%;
    $threat-bar-margin: ($threat-bar-wrapper-width - $threat-bar-width) / 2;
    width: $threat-bar-width;
    margin: 0 $threat-bar-margin;
  }
}

.zonal-long-raw-values {

  ul {
    padding-left: 18px;
    margin-bottom: 0;
  }
}

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
