@import "~bootstrap/scss/bootstrap";
@import './_customVarriables.scss';


$body-bg:    $gray-800;
$body-color: $gray-200;

$layer_list_width: 250px;
$layer_list_padding: 10px;
$map_top_margin: 5px;
$map_right_margin: 10px;

.maplayers_list {
    // position: relative;
    // top: -$map_height + $map_top_margin;
    // ÷right: +$layer_list_width; //-$map_width + $layer_list_width + $map_right_margin;
    width: $layer_list_width;
    background-color: $body-bg;
    color: $body-color;
    z-index: 1000;
    padding: $layer_list_padding;
}

.maplayers_list hr {
  border-top: 1px solid rgba(233, 236, 241, 0.75);
}

.maplayers_list label {
    font-size: .8rem;
    padding: 2px;
}
